[2020-10-08 11:50] geoeo commented on #4141
The fix now seems to be include_directories(/usr/local/include/mapnik/deps)

[2020-10-08 12:42] hholzgra commented on #4076
`minimum-padding` seems to be what you are actually looking for?

Name: minimum-padding
Type: double
Description: if >0 helps prevents a label (or shield) from being placed too near the edge of the map.

[2020-10-12 09:46] artemp commented on #4177
Fixed in https://github.com/mapnik/mapnik/commit/7d1a559ae2f1bc6de1ec32b94a94f46de6a68d11 + unit test https://github.com/mapnik/mapnik/commit/a9d9f7ed996f69bf81c5fd469c920021e59b1609
Closing /cc @jakepruitt

[2020-10-12 09:46] #4177 closed

[2020-10-16 14:08] artemp opened #4180 "GeoJSON Feature generator - `id` output"
via node-mapnik https://travis-ci.org/github/mapnik/node-mapnik/jobs/736363938

[code]

Looks like `boost::karma` (1.66) issue but needs investigating and potentially a workaround.

[2020-10-19 09:13] hholzgra opened #4181 "Wiki editing access ..."
What would it take to get wiki editing access?

[2020-10-19 10:34] artemp commented on #4181
@hholzgra - Assuming you're offering to improve and/or update wiki, sounds great and welcome! Github doesn't provide an easy way to manage wiki access unfortunately. Could you demo what changes you're proposing so we can figure our appropriate action, please. I think it's possible to clone Wiki repo though I haven't tried myself.
/cc @springmeyer

[2020-10-19 17:42] hholzgra commented on #4181
that's the plan, more or less ...

I've started to collect some missing pieces from the source code and other sources, and roll my own "missing manual" for a little while already. I've been using AsciiDoc, not MarkDown, for that so far, but I think you get the idea.

Repository for that is https://github.com/hholzgra/mapnik-lost-manual and processed result can be found on https://get-map.org/mapni

[2020-10-19 17:57] hholzgra commented on #3991
All Ubuntu versions that are still under standard support (16.04LTS and above) come with Mapnik 3.0 now, so this issue can be closed?

[2020-10-19 18:06] hholzgra commented on #4181
Some more background on me: I have been running the MapOSMatic instance on print.get-map.org (previously maposmatic.osm-baustelle.de) since somewhere in 2016, and am trying to keep as many osm2pgsql schema based styles running there ...

[2020-10-21 06:26] andr1312e commented on #4175
FIX TI PLEASE

[2020-10-21 06:43] andr1312e opened #4182 "Error building in Windows 10"
$ ./configure
scons: Reading SConscript files ...

Welcome to Mapnik...

Configuring build environment...
Configuring on Windows in *release mode*...
UnicodeEncodeError: 'ascii' codec can't encode characters in position 95-97: ordinal not in range(128):
  File "C:\Users\Pilikin\Downloads\mapnik-master\SConstruct", line 1340:
    ret, cxx_version = config_command(env['CXX'], '--version')
  File "C:

[2020-10-21 09:51] artemp commented on #4175
I removed links to `mapnik-v2.2.0` release from mapnik.org (it hasn't been supported for quite a while) , apologies for the confusion. If there's an interest to re-start supporting windows binaries - `mapnik`  is platform independent but building binaries on `Windows` requires some extra effort and I don't have capacity right now. Please consider volunteering to help.

[2020-10-21 09:51] #4175 closed

[2020-10-21 09:53] artemp commented on #4161
https://github.com/mapnik/mapnik/issues/4175#issuecomment-713338995

[2020-10-21 09:53] #4161 closed

[2020-10-21 09:55] artemp commented on #4182
This is not supported path to build mapnik on Windows. Please consider
https://github.com/mapnik/mapnik/issues/4062#issuecomment-501559409

[2020-10-21 09:55] #4182 closed

[2020-10-21 09:58] artemp commented on #4180
Doesn't manifest in later boost versions, closing

[2020-10-21 09:58] #4180 closed

[2020-10-21 10:08] artemp commented on #4181
@hholzgra - It looks like there is a consensus to not use github wiki for documentation : https://github.com/mapnik/mapnik/issues/3543 and there are:

[2020-10-21 14:09] hartmut-mariadb commented on #4181
Hm, mapnik-reference is incomplete in itself, it is OK for symbolizers, mostly, but e.g. completely missing out on data sources. mapnik/docs mentioned in #3543 never really went anywhere, same for the sphinx-docs repository. I never really looked into node-mapnik, but that doesn't look too complete either ...

So for now I'll just continue with what I started already ...

[2020-10-21 14:32] artemp commented on #4181
You're right there are lots of missing bits and it's hard to find/navigate etc etc. Just for completeness here's link to published `node-mapnik`  docs in case you didn't see it: node-mapnik docs - https://mapnik.org/documentation/node-mapnik/3.6/
I thought somewhat similar approach would work better than github wiki, cheers.

[2020-10-22 17:55] hartmut-mariadb commented on #1005
This can probably be closed, I can't reproduce it with 30.23 and the current OSM Carto style:

![Screenshot at 2020-10-22 19-52-32](https://user-images.githubusercontent.com/50832275/96910769-416e4280-14a0-11eb-9ebe-93499deec3fa.png)

[2020-10-22 18:13] hartmut-mariadb commented on #1150
`repeat-distance` should indeed have solved this for the pure same-text use case, but not for the more advanced cases mentioned, like text+font+color+size?

[2020-10-25 11:39] hholzgra opened #4183 "base path should not be prepended to special "shape://" and "image://" URIs"
According to Mapnik source code the special file URIs "shape://ellipse" and "shape://arrow" should be used instead of marker-type="ellipse"/"arrow".

This works fine in general, and allows to mix these internal marker symbols with external files, but when having a MarkersSymbolizer with a base directory set, the base directory path prefix is added in front of the actual file path before checking w

[2020-10-25 16:18] hholzgra commented on #4183
Error message actually depends on whether shape://ellipse is used as a literal constant, or the result of an expression. With a literal constant

`<MarkersSymbolizer file="shape://ellipse" base="symbols"/>`

this terminates rendering with

`RuntimeError: file could not be found: './symbols/shape://ellipse' in style 'style' in MarkersSymbolizer at line 7 of 'MarkersSymbolizer-marker-type.xml'`

but

[2020-11-10 02:01] kennykb opened #4185 "SVG and PointSymbolizer (etc.) - allow substitutions"
As some of the Mapnik maintainers are aware, I've been working intermittently on a rendering for North American numbered highway routes. In North America, there are frequently three or four networks overlaid, so using a shaped marker is important to provide a visual indication of which network a route number belongs to. Moreover, routes are frequently concurrent - it's not uncommon, for instance,

[2020-11-10 07:00] GISerliang opened #4186 "mapnik 3.0.23 build error on centos8 arm64"
OS: CentOS 8 ARM64
Mapnik Version: 3.0.23 release
Clang++: 9.0.1
Boost: 1.65.1

Build use mason 0.17.0
Error Info:
[code]

Additionally, if I run configure file with all utils equal no, mapnik build success, but when I use the libmapnik.so file, some other errors happend such as follow:
[code]

Could someone help me?

[2020-11-13 08:18] GISerliang commented on #4186
I solved it by changing -D_GLIBCXX_USE_CXX11_ABI=0 to -D_GLIBCXX_USE_CXX11_ABI=1 when building mapnik, so I closed this issue.

[2020-11-13 08:18] #4186 closed

[2020-11-18 12:04] mathisloge opened #4187 "multiple plugin code bugs"
in https://github.com/mapnik/mapnik/blob/c6fc956a779123e3735c16ba28aa85922b924cac/plugins/input/csv/csv_index_featureset.cpp#L125 and
https://github.com/mapnik/mapnik/blob/c6fc956a779123e3735c16ba28aa85922b924cac/plugins/input/geojson/geojson_index_featureset.cpp#L96
there is an issue with the .second. I think this should bei `pos.size`?

[2020-11-18 15:39] artemp commented on #4187
@mathisloge - thanks for reporting

[2020-11-18 16:16] artemp commented on #4187
Fixed in 3ae38bb, closing. Thanks!

[2020-11-18 16:16] #4187 closed

[2020-11-19 13:13] mathisloge opened #4188 "portable compiler support"
After compiling mapnik for windows i've got a flood of warnings.
Mainly this is because of the `#pragma GCC diagnostics [push/pop]`.

I think it would be good to extract these pragmas with something portable like in this blog post  https://www.fluentcpp.com/2019/08/30/how-to-disable-a-warning-in-cpp/.

I could create a PR for this

TLDR blog post;
[code]

[2020-11-19 13:23] artemp commented on #4188
@mathisloge - would be great ^ thanks

[2020-11-19 14:35] mathisloge commented on #4188
@artemp have linked the PR.
Havn't build yet.
Do you know if somewhere exists a reference list between gcc/clang and mscv?

[2020-11-19 14:54] artemp commented on #4188
@mathisloge I'm not aware of a list mapping clang/gcc <--> msvc warnings.
PR is looking good.

[2020-11-20 10:09] #4188 closed

[2020-11-20 12:27] mathisloge opened #4190 "Cmake build support"
So I'm currently adding support for vcpkg.
I've tried first to integrate mapnik with scons but that just have not worked.

Now I have added Cmake to the vcpkg port and the vcpkg team have asked, if the cmake build could be added to mapnik directly.
If you would like to take a closer look at the PR in vcpkg to decide if this could be added to mapnik directly.
https://github.com/microsoft/vcpkg/pull

[2020-11-20 14:33] artemp commented on #4190
@mathisloge thanks ^
In principal adding CMake build is not a bad idea and I'd like to check it out. If it's self contained in its own dir(s) and adding it doesn't increase source distribution dramatically it should fine. Does Cmake build in a workable state for Linux/OSX also?

[2020-11-20 17:27] mathisloge commented on #4190
I would propose to discuss the cmake support at #4191

Yes, Linux is supported. For osx i only can confirm it with the help of the CI @vcpkg . But it should definitly be supported.

[2020-11-23 07:08] servas089 opened #4192 "installation running "source bootstrap.sh" fails - outdated"
Good morning,

I have followed exactly the installation process procedure from https://github.com/mapnik/mapnik/wiki/UbuntuInstallation.
Installation took place on a fresh new Rapberry PI 4 8GB with the latest version of Ubuntu 20 - Server Raspberry Version.

Unfortunatelly the installation process fails at the step running "source bootstrap.sh", as there are many packages and links which are outd

[2020-11-23 20:54] KonstantinKlepikov opened #4193 "make: *** [Makefile:14: install] Error 1"
i follow this guide on ubuntu 20.04focal [https://github.com/mapnik/mapnik/wiki/UbuntuInstallation](https://github.com/mapnik/mapnik/wiki/UbuntuInstallation)

all is done, but on sudo make install i have:

**> /home/travis/build/mapbox/mason/mason_packages/linux-x86_64/proj/4.9.3/share/proj/ not detected on your system

What was wrong?

[2020-11-23 22:32] KonstantinKlepikov commented on #4193
maybe i need to set path manually?

[2020-11-25 10:25] artemp commented on #4193
@KonstantinKlepikov I think the issue is you're running `sudo make` and expecting your environment variables to be available

You could try :
* run `sudo -E make `  (on linux and I think it works on macOS too)

[code]

* install into directory you have permissions via `PREFIX=/dir/you/have/permissions`

[2020-11-25 11:07] #1005 closed

[2020-11-25 20:57] KonstantinKlepikov commented on #4193
@artemp I tried to install the package inside the environment, when proj is installed ... the problem with proj was fixed.

But I still get the message:

In this environment, set icu 67.1

[2020-11-28 02:38] KonstantinKlepikov commented on #4193
as result - problem with permission
Environment variables can be simply passed after sudo. This worked

[2020-11-28 02:38] #4193 closed

[2020-11-29 02:10] marcotama opened #4195 "`make` fails on MacOS due to deprecated PROJ api"
I had problems installing `mapnik` with its optional PROJ dependency on my machine running MacOS 14. I have the library installed, but the `configure` command cannot find it.

After some drilling, I found out that the configuration scripts generates a small C file, roughly like this:
[code]
and tries to compile it to verify that the library is present.

The problem lies with an annotation at the t

[2020-11-29 17:17] fxcoudert opened #4196 "mapnik 3.0.23 fails to build with boost 1.74.0"
There appear to have been fixes to master in the meantime, could you please tag a new release?
Currently blocking Homebrew: https://github.com/Homebrew/homebrew-core/pull/65895

[code]

[2020-12-03 09:46] artemp commented on #4196
@fxcoudert - Did you mean `3.0.23`? I'll take a look, it might not be straight forward to port. I think better approach would be to finaly release mapnik-v4.x.x (aka master).

[2020-12-03 09:52] artemp commented on #4195
You can pass `ACCEPT_USE_OF_DEPRECATED_PROJ_API_H` at configure stage :

[code]

[2020-12-03 09:52] fxcoudert commented on #4196
Yes sorry, 3.0.23

[2020-12-05 15:17] servas089 commented on #4192
No one using currently mapnik on a raspberry and has managed the installtion routine?

[2020-12-10 03:08] Kyan-Ge opened #4198 "Installation Problems v3.0.23"
How to install v3.0.23 on python3.7(windows 64bit)?

[2020-12-10 14:00] AlexanderMisel commented on #4172
Let me guess... SimSun is in TTC format, but SimHei and KaiTi are in TTF format, in Windows.

[2020-12-12 04:28] redneb commented on #4196
I was able to get mapnik 3.0.23 compile against boost 1.74 using [this patch](https://github.com/redneb/gentoo-mapnik-overlay/blob/master/sci-geosciences/mapnik/files/mapnik-3.0.23-boost-1.74.patch). It is essentially ed1696db4ab78cf7437688951adbe625f66e5358 backported from master, with the addition of a couple of missing `#include`s. I've only tested this under linux.

[2020-12-13 20:16] iMichka commented on #4196
When is the next mapnik release planned? The patch is quite huge. We could use it in homebrew, but I would prefer a new release.

[2020-12-14 10:50] artemp commented on #4196
Ok, patch looks good, thanks @redneb.  I'm aiming to release `3.0.24` before the end of this year.
/cc @fxcoudert @iMichka

[2020-12-15 17:21] artemp commented on #4196
https://github.com/mapnik/mapnik/commit/6f0bab62463cc0e38707c0ae677d5e50c556052b

[2020-12-17 03:50] somneat opened #4200 "Install on Windows"
Hi, How can I install mapnik on window 10. I try to follow installation guide but folder lib and bin are not exit.

[2020-12-17 09:07] mathisloge commented on #4200
I you try to build mapnik with msvc you need to take additional steps.
These are implemented in https://github.com/mapnik/mapnik/pull/4191 take a look if you need them now.

You could however clone the repo of the PR and build via cmake and enabling the features you need. I recommend to install the required dependencies with vcpkg since it will help you build all of the deps or you could clone the

[2020-12-25 23:21] zdila commented on #3714
I don't think it is resolved. I use GeoTIFF with RGBA plus NoData and Mapnik renders NoData areas as white.

gdalinfo output:
[code]
[code]

[2020-12-27 07:13] zdila commented on #3714
I don't think it is resolved. I use GeoTIFF with RGBA plus NoData and Mapnik renders NoData areas as white.

gdalinfo output:
[code]

[2020-12-28 14:50] #4198 closed

[2021-01-03 06:23] chenrui333 commented on #4196
Do we still have 3.0.24 in plan? Looks like it failed to build against boost 1.75.0 now.

<details>
<summary>build error</summary>

[code]

</details>

[2021-01-05 14:20] artemp commented on #4196
### Mapnik v3.0.24 release
This release adds support for `BOOST_VERSION >= 1.74.0`

* https://mapnik.org/news/release-3.0.24
* https://github.com/mapnik/mapnik/blob/v3.0.24/CHANGELOG.md#3024
/cc @redneb @fxcoudert @iMichka @chenrui333
Thanks!

[2021-01-05 14:20] #4196 closed

[2021-01-05 14:22] iMichka commented on #4196
Thanks !

[2021-01-05 14:27] artemp commented on #4196
Thanks for reporting, yes, I can replicate ^^ It looks like Boost.Geometry requires c++17 support in 1.75. I'll need to verify if this is intentional or just a oversight. In any case, I'm planning to stop supporting `v3.0.x` and instead focus on `v4.x.x (current master)`

[2021-01-05 14:55] chenrui333 commented on #4196
got you, thanks!

[2021-01-07 11:46] fxcoudert opened #4201 "mapnik 3.0.24 doesn't build against boost 1.75.0"
[code]

Full logs here: https://github.com/Homebrew/homebrew-core/pull/68359/checks?check_run_id=1657103097

[2021-01-07 11:47] fxcoudert commented on #4196
Opened a new issue: https://github.com/mapnik/mapnik/issues/4201

[2021-01-07 12:44] artemp commented on #4201
https://github.com/boostorg/geometry/issues/590 <-- Boost.Geometry needs c++14 but mapnik `v3.x.x` is using `c++11`
Not sure yet, about the best way to address this. But in general I'd like to focus on v4.x.x ;)
https://github.com/mapnik/mapnik/issues/4196#issuecomment-754668079
/cc @fxcoudert

[2021-01-07 12:47] fxcoudert commented on #4201
I can understand, but if no stable version of mapnik is compatible with recent boost, we'll have to drop it from Homebrew.

[2021-01-07 12:49] artemp commented on #4201
I'll take a look and I'll make a decision asap ^

[2021-01-07 14:47] artemp commented on #4201
The cleanest and easiest solution is to require c++14 supporting compiler: https://github.com/mapnik/mapnik/commit/49e0ef182f2e81b7e0d085f36c2e94906df9a8fd
@fxcoudert could you try ^^ and let me know and I'll release `v3.1.0`

[2021-01-07 15:45] artemp commented on #4201
https://travis-ci.com/github/mapnik/mapnik/builds/212352781

[2021-01-07 18:44] carlocab commented on #4201
The build at https://github.com/Homebrew/homebrew-core/pull/68477 succeeded, so it looks like https://github.com/mapnik/mapnik/commit/49e0ef182f2e81b7e0d085f36c2e94906df9a8fd worked.

[2021-01-07 19:41] artemp commented on #4201
@carlocab great, thanks!

[2021-01-08 12:20] artemp commented on #4201
Mapnik `v3.1.0` (require c++14 support)

https://mapnik.org/news/release-3.1.0
https://github.com/mapnik/mapnik/releases/tag/v3.1.0

@fxcoudert @carlocab

[2021-01-08 12:22] carlocab commented on #4201
Thanks! I've opened https://github.com/Homebrew/homebrew-core/pull/68562 to update Homebrew's version of Mapnik.

[2021-01-08 12:23] artemp commented on #3714
@zdila - thanks for reporting, could you attach GeoTIFF  (small-ish) I can use for debugging?

[2021-01-08 17:55] zdila commented on #3714
@artemp https://drive.google.com/file/d/1PWsPqp1sj3Wi45HS64s0uHCQZHo_otoG/view?usp=sharing

[2021-01-11 09:30] artemp commented on #3714
`gdalinfo`

[code]
I think `NoData` got stripped ^ ?  Also, what `mapnik` version you're using?
Thanks @zdila

[2021-01-11 10:14] talaj commented on #3714
@zdila Have you tried to set nodata value explicitly to the datasource?

[code]

[2021-01-11 10:21] zdila commented on #3714
@artemp sorry, Nodata was lost when creating a small sample for you.

Please download it again from: https://drive.google.com/file/d/1PWsPqp1sj3Wi45HS64s0uHCQZHo_otoG/view?usp=sharing

[2021-01-11 10:22] artemp commented on #3714
:+1:

[2021-01-11 12:39] artemp commented on #4201
Closing.

[2021-01-11 12:39] #4201 closed

[2021-01-13 15:21] artemp commented on #3714
@zdila  have you ? And what version of `mapnik` are you using?

[2021-01-13 15:55] zdila commented on #3714
Doesn't work:
[code]

I use latest node-mapnik. `mapnik.version` says `4.5.5` and `mapnik.versions` says
[code]

[2021-01-13 16:15] artemp commented on #3714
@zdila :+1: thanks

[2021-01-19 15:24] zdila opened #4203 "TextSymbolizer halo doesn't match text for vector output"
If we export our map to SVG or PDF then halo effect is not aligned with the text. Rasters are OK. Sample:

![image](https://user-images.githubusercontent.com/636095/105054815-b129a480-5a72-11eb-8c59-c71baed51ecd.png)

[2021-01-19 15:30] zdila opened #4204 "Halo should be done per whole text and not per every glyph"
Currently text halo effect is done per every character and non-opaque overlaying halos alter its opacity. Better would be to merge halo polygons before applying the opacity, or some other solution.

Also please note halo on dots - there is a small gap between halo and the dot.

![image](https://user-images.githubusercontent.com/636095/105055266-2dbc8300-5a73-11eb-9e4f-9676996ea973.png)

[2021-01-19 15:35] zdila opened #4205 "LinePatternSymbolizer is missing last segment if exported to vector"
LinePatternSymbolizer exported to SVG or PDF is missing (probably) last segment and is blurred even if it uses SVG file for the pattern. It is not reproducible in raster exports.

![image](https://user-images.githubusercontent.com/636095/105056080-14680680-5a74-11eb-8a78-0c56e573e8ad.png)

[2021-01-29 07:35] zdila opened #4209 "gdal driver with vrt is slow"
We would like to use vrt for merging two shillshading geotiffs where one is global and with low resolution and other is for smaller area with high resolution. Mapnik renders them separately fast (ie tile per ~ 0.5 s). The problem is that hillshadings are semitransparent which overlays one above the other.

When we combine them to single vrt file then rendering of single tile takes ~ 3 s which is n

[2021-02-01 10:45] #4115 closed

[2021-02-01 10:45] #4112 closed

[2021-02-02 21:05] StyXman opened #4210 "Some filters not working."
I just opened gravitystorm/openstreetmap-carto#4318 because some filters seem not to be working. Those referenced in that issue are `[name != null]` and `[name != ''`. Does anyone know what's going on here?

[2021-02-02 21:55] StyXman commented on #4210
Surprise, this doesn't seem to work either:

[code]

Neither

[code]

I'm running out of ideas here.

[2021-02-03 22:02] zdila commented on #4209
Our workaround is to use tree-hierarchy of the layers with suitable comp-op operations and mask layer (also working around https://github.com/mapnik/mapnik/issues/3714). First layer "cuts off" one geotiff from the other and other layer does the difference in the oposite order. It feels pretty hacky and is not the fastest, but still faster than using vrt.

Here is a snippet - shading with contours:

[2021-02-03 22:05] zdila commented on #3714
Workaround is extracting mask from the tiff and doing composition using nested layers and correct comp-op operations. See https://github.com/mapnik/mapnik/issues/4209#issuecomment-772855269

[2021-02-05 16:19] jose-sanchez-morales opened #4211 "installing mapnik in ubuntu problems"
After running ./configure and checking that all core dependencies are met,

after running make install, I got this:
scons: *** [srs/json/unicode_string_grammar_x3.o] Error 1
scons: building terminated because of errors.
Makefile:14: recipe for target 'install' failed
make: *** [install] Error 2

I don't know how to progress with this, thanks

[2021-02-09 11:12] gmuc opened #4212 "RuntimeError: failed to initialize projection with: '&srs900913;' with brew mapnik on mac"
Hi, I have the "failed to initialize projection" problem in the current mac version (3.1.0). In older issues the community wrote: mapnik "use rapidxml instead of libxml2. Only libxml2 supports XML entities" Mmm. (see https://github.com/mapnik/node-mapnik/issues/279#issuecomment-46765824)
The only solution for me is not use the brew version and compile the mapnik self on my mac???
If so, how say I

[2021-02-13 21:16] StyXman opened #4213 "Configuring master with scons 4.0.1 fails."
Today I tried to compile the latest `mapnik` (as opossed to run the system wide one, 3.1.0 from Debian Unstable) and I'm getting `scons` errors:

[code]

As per https://discord.com/channels/571796279483564041/571796280146133047/683056005067964467 (sorry, might require registration), I commented out the offending line, but then I progressed to:

[code]

My scons version is 4.0.1, should I use an ol

[2021-02-15 09:24] artemp commented on #4213
@StyXman - I'll find time upgrade to  `scons-4.0.1` . Meanwhile, you should be using scons `3.0.1` which is part of source distribution :

[code]

[2021-02-15 17:37] StyXman commented on #4213
yeah, that worked, after modifying the shebang to `/usr/bin/python2`. does that version of scons work with py3?

[2021-02-15 17:37] #4213 closed

[2021-02-16 18:19] #4212 closed

[2021-02-18 20:49] pnorman commented on #2161
Believed to be fixed.

[2021-02-18 20:49] #2161 closed

[2021-02-18 21:17] stephankn commented on #2161
Yes. Confirmed by native speaker to be ok. The new noto sans is harder to read than the older noto font, but tone marks correctly rendered.

Example here, I circled:

![1829](https://user-images.githubusercontent.com/251140/108422558-00f8b880-7237-11eb-9816-7562bd3c5fd2.png)

[2021-02-19 09:26] artemp commented on #2161
@stephankn - thanks for confirming!

[2021-02-21 10:45] zdila opened #4214 "spacing-offset="0" can cause 100% CPU usage"
If `spacing-offset="0"` (introduced in https://github.com/mapnik/mapnik/pull/4132) then in some cases it causes 100% CPU load without finishing the rendering. Workarounbd is to set `spacing-offset="0.01"`.

[2021-02-21 13:09] sebastic commented on #4036
The first PROJ 8.0.0 release candidate has been released which removes `proj_api.h`.

[2021-02-21 15:10] artemp commented on #4036
https://github.com/mapnik/mapnik/tree/proj6
/cc @sebastic

[2021-02-22 10:24] artemp commented on #4214
@zdila are you planning to fix or should I take a look ? Also, any more specifics how to replicate this ? thanks.

[2021-02-22 10:27] zdila commented on #4214
I have no plans, but if you want I will do it as I introduced this buggy feature :-).

I am not sure about the exact input to replicate this but probably it is caused if line is very short. I will check it during this week.

[2021-02-22 10:28] artemp commented on #4214
That would be great, cheers!

[2021-02-23 08:35] yairaba opened #4215 "Install"

[2021-02-24 13:44] redsmurf6 commented on #3591
Recently had this issue. What I needed to do was set the GCC flags to clang beforehand.

export CXX="clang++-10" && export CC="clang-10"

or whichever version of clang you are using find out by typing clang --version

[2021-02-27 07:46] zdila commented on #4214
I tried to add some debug messages and recompile it all but now it fails with runtime error:
[code]
Any hint how to fix this?

Anyway I can reproduce it if the line is so small that no marker fits there. Also if I set in that case `spacing-offset` to very small number (0.0000001) then it manages to render it, just it takes couple of seconds.

![image](https://user-images.githubusercontent.com/6360

[2021-03-01 10:14] artemp commented on #4214
Looks like you're missing `libproj` ^.  If you have `libproj` version  > 4 then you need to add CUSTOM_DEFINES = '-DACCEPT_USE_OF_DEPRECATED_PROJ_API_H' at configuration step. For this particular test case, you should be able avoid re-projections altogether by using EPSG:4326 for both Map and Layer. Just to keep things simple.

Thanks for investigating. Can you post your *.xml and I'll try to repr

[2021-03-01 16:27] zdila commented on #4214
You can find `no_foot.svg` at https://github.com/FreemapSlovakia/freemap-mapnik/blob/develop/images/no_foot.svg

Reduced sample:

[code]

[2021-03-04 10:21] chenkai0520 opened #4216 "filter by different fields"
If I want to set different fields to display different sizes and colors, similar to the following codes, if I have two fields that need to be filtered, I need to write a Cartesian product to judge, is there a simple way？
[code]
thanks

[2021-03-04 15:51] artemp commented on #4216
You could try `mod` op - something like `([size] + [color])%2 == 0`  for this particular case e.g
[code]

[2021-03-04 17:40] chenkai0520 commented on #4216
Thank you for your answer. This seems to be the only way.

I am not familiar with Mapnik XMLConfig. If I render based on the values of multiple fields (color, size, and other values), I need to write a lot of rules（Exponential growth）.
![https://i.ibb.co/xjXGnGw/2021-03-05-1-33-40.png](https://i.ibb.co/xjXGnGw/2021-03-05-1-33-40.png)

[2021-03-04 17:51] chenkai0520 commented on #4216
I have tried the following writing method, and found that a Symbolizer can only take effect once
[code]
does Parameters can be merged by adding a unique name？

[2021-03-05 16:03] artemp commented on #4216
@chenkai0520 Where do you store your input data ? One solution I can think of, is to create a new field. Lets call it "colour" and populate it with colour strings e.g hex '#aabbccff'.  Then use it like :

[code]

[2021-03-06 03:23] chenkai0520 commented on #4216
@artemp My data is stored in postgres，I want to interval classification colors and sizes and others for fields

[2021-03-08 11:45] #4216 closed

[2021-03-11 14:44] artemp commented on #4210
@StyXman - How can I replicate this locally? Could you provide some input data, pls ? Also, mapnik version ? Cheers.

[2021-03-12 08:15] StyXman commented on #4210
I'm trying to come up with one. Debugging `mapnik` is not that easy to me.

[2021-03-12 12:43] artemp commented on #4210
Thanks for trying! I think the easiest way to replicate this would be a xml files with inline GeoJSON and relevant filter expressions.

[2021-03-17 06:05] slavas62 commented on #4215
I have the same question.

[2021-03-17 10:01] hholzgra commented on #3574
This does not have any effect as mapnik does not use fontconfig to discover fonts, it scans a single preconfigured directory and its subdirectories only. On Linux that's typically `/usr/share/fonts`, but it can be changed at mapnik build time. `mapnik-config --fonts` tells you what your installation actually uses.

So e.g. fonts in `/usr/local/share/fonts` are ignored unless you explicitly registe

[2021-03-18 09:00] hholzgra commented on #4210
Not sure about NULL handling, but `[name != '']` does not work as there's no attribute by that name `name != ''`. `[name] != ''` as filter expression works fine as expected for me though. E.g. this rather simple self contained example only renders a green dot for the 2nd data line, as expected:

[code]

[2021-03-18 09:10] hholzgra commented on #4211
What version of Ubuntu? I can build it just fine on 18.04 "Bionic", but I'm getting weird linker errors when switching to 20.04 "Focal". The error does not seem to be related to yours though:

[code]

[2021-03-18 09:15] hholzgra commented on #4211
(you know you are in trouble when even `c++filt` can't demangle cryptic C++ symbol names ...)

[2021-03-18 14:03] hholzgra commented on #4057
I  started to write documentation of my own, including a (still small) section on filter expressions:

https://get-map.org/mapnik-lost-manual/#_filter_expressions

[2021-03-22 13:59] hholzgra commented on #796
Coming from a lex/yacc background, I gave adding "is null" a try, but apparently utterly fail to grok how Boost Spirit / X3 actually works.

I tried the following variants:

* check for literal `is null`
[code]
 * check for `is` followed by `null`
[code]
 * check for `is` followed by space followed by `null`
[code]

 but none of this worked out in the way I expected. Scanning over X3 howtos and ac

[2021-03-23 11:15] artemp commented on #796
@hholzgra - Thanks for trying! I think you need to add `lexeme` directive to avoid skipping. Take a look
* https://www.boost.org/doc/libs/1_75_0/libs/spirit/doc/x3/html/spirit_x3/tutorials/employee.html
* https://www.boost.org/doc/libs/1_75_0/libs/spirit/doc/x3/html/spirit_x3/quick_reference/directive.html

[2021-03-23 17:17] artemp commented on #796
@hholzgra  as a quick test you could try defining literal like

[code]

Just to see everything else works as expected

[2021-03-25 15:33] mathisloge opened #4218 "Iterator out of range in csv plugin"
When running the benchmark test_rendering_shared_map with the benchmark/data/roads.xml the iterator in ignore_case_equal will be out of range (on windows). std::equal(s0, s0, s1) doesn't check the bounds of s1 ref: https://en.cppreference.com/w/cpp/algorithm/equal

[code]

_Originally posted by @mathisloge in https://github.com/mapnik/mapnik/issues/4202#issuecomment-806858631_

[2021-03-25 16:08] #4218 closed

[2021-04-04 04:36] wafisher commented on #4025
Hi, would still love to see support for this or a workaround, if possible. Perhaps updates over the last two years might hint at some workaround?

[2021-04-05 10:02] artemp commented on #4025
https://dev.w3.org/SVG/modules/filters/publish/SVGFilter.html - it's a handful :)

@wafisher - if you have access to Adobe Illustrator, could you try creating simple SVG with a shadow and exporting it as `SVG Tiny 1.2`?

[2021-04-05 16:53] wafisher commented on #4025
I was able to create the same SVG in Adobe Illustrator. I've uploaded it here. I'm using Mapbox to display these SVG's and the shadow didn't carry into Mapbox so I'm assuming it's not supported by Mapnik.

[DropletShadowTiny.svg.zip](https://github.com/mapnik/mapnik/files/6259309/DropletShadowTiny.svg.zip)

That is quite a bit. Perhaps you could focus on one or two of those filter primitives like

[2021-04-06 11:22] artemp commented on #4025
Yes, SVG rendered in mapnik doesn't support shadows created by using filters.

This is exactly what I was looking for, thanks.

In DropletShadowTiny.svg `shadow` was exported as `<image>` element, `feDropShadow` is not part of Tiny 1.2 profile.

Adding support for `<image>` elements would be quite straightforward but there are portability and security issues, see https://tools.ietf.org/id/draft-sv

[2021-04-06 11:27] artemp commented on #4025
@wafisher could you post original DropletShadow.svg (with feDropShadow filter), pls?

[2021-04-06 17:08] wafisher commented on #4025
Sure, here's the original. Sketch actually doesn't use `feDropShadow` when exporting; it uses a combination of other filters, which is another popular approach to creating a drop shadow. But I imagine it'd be easiest for you to implement `feDropShadow` and not the rest.

[DropletShadowSketch.svg.zip](https://github.com/mapnik/mapnik/files/6266410/DropletShadowSketch.svg.zip)

(Ignore the `Rectangl

[2021-04-07 07:40] MaartenDeen opened #4221 "Inconsistent rendering of waterway=drain in a tunnel"
Waterway=drain in a tunnel with layer=-1 has inconsistent rendering.
On zoom 15 and higher it is correctly shown as a dashed line: https://www.openstreetmap.org/#map=15/51.4948/11.5549
Zoom 14 it is a solid line like it would be a surface drain: https://www.openstreetmap.org/#map=14/51.4948/11.5549
Zoom 13 and lower it is not rendered.

![drain15](https://user-images.githubusercontent.com/1825970/

[2021-04-07 08:11] tomhughes commented on #4221
I assume you meant to open this at https://github.com/gravitystorm/openstreetmap-carto/issues?

[2021-04-07 08:11] #4221 closed

[2021-04-07 08:20] MaartenDeen commented on #4221
Dang. Thanks.

[2021-04-08 17:06] sarpsarpp opened #4222 "Python Symbol not found: _PyClassType"
Hi,

I'm not sure what to do next. I'm on a macbook i tried to install python bindings but when i try the xml tutorial this is what i get. Can you please help?

<img width="1306" alt="Ekran Resmi 2021-04-08 19 02 57" src="https://user-images.githubusercontent.com/30577280/114067788-7e3ac400-989d-11eb-87ee-77be06583a62.png">

[2021-04-09 09:22] sarpsarpp opened #4223 "setup.py clang++ error"
Hi,

i'm trying to install python bindings on ubuntu, when i run `python setup.py install` this is what i get.

can anybody help me to continue?
thanks
![Ekran Resmi 2021-04-09 11 19 49](https://user-images.githubusercontent.com/30577280/114159252-e1703900-9925-11eb-86c4-522d5af3871a.png)

[2021-04-11 15:01] artemp commented on #4223
@sarpsarpp  Try using [proj6 branch](https://github.com/mapnik/python-mapnik/tree/proj6) with latest mapnik master

[2021-04-12 20:20] knutole opened #4224 "pgraster not working in Mapnik 4.5.6"
I've implemented Mapnik using Lambda, and trying to render data from a raster stored in PostGIS, using `pgraster` plugin. However, in spite of no error messages, and an otherwise working setup, I'm simply not getting anything but empty tile pngs.

I've had `pgraster` working well on previous Mapnik version (albeit not using Lambda).

- Is there anything new with Mapnik 4.5.6 which is breaking chan

[2021-04-13 10:26] Andrey-VI commented on #2427
@springmeyer, @artemp, 6 years and counting… Is it hopeless?
Still using 2.3.x because of this hyphen issue in Mapnik 3.x :(
See https://github.com/mapnik/mapnik/issues/2333#issuecomment-55104221

[2021-04-13 16:40] artemp commented on #4224
@knutole thanks for reporting. I'm not aware of any changes that should affect `pgraster.input`. Is there any way to replicate this issue not using lambda? Ideally, we need as script python or node which can be run locally?

[2021-04-22 12:00] likpanwi opened #4226 "configure: error: *** A compiler with support for C++14 language features is required."
Installing Rivet via aliBuild yield the following error
==> Building Rivet@3.1.1-alice1
==> Rivet is being built (use --debug for full output): failed
ERROR: Error while executing /home/ajaz/alice/sw/SPECS/ubuntu2004_x86-64/Rivet/3.1.1-alice1-1/build.sh on `ajaz-MacBookPro'.
ERROR: Log can be found in /home/ajaz/alice/sw/BUILD/Rivet-latest/log
ERROR: Please upload it to CERNBox/Dropbox if you inte

[2021-05-03 14:12] lightmare commented on #4226
Are you sure this is a mapnik issue? The output does not appear to be from Mapnik's configure.
Some commands in that output seem to be forcing C++11, maybe that's why the C++14 check fails.

[2021-05-14 02:06] montzkie18 opened #4227 "GeoJSON plugin has no option to read Feature.id from source"
Related to this issue: https://github.com/mapnik/node-mapnik/issues/707

I have a use case where I create VectorTiles from a GeoJSON source, using node-mapnik.
Unfortunately mapnik's geojson datasource ignores `Feature.id` by design to assign an incremental id instead.

It would be great to have a flag to force the GeoJSON plugin to read the ids from the source instead, giving users the responsibi

[2021-05-17 15:04] artemp opened #4229 "Support c++20"
Add support for c++20

[2021-05-17 16:31] landryb commented on #4036
@artemp sorry this branch disappeared, is there a fix somewhere else ?

[2021-05-17 17:48] artemp commented on #4036
Support for proj >= 6 is in master

[2021-05-17 17:48] #4036 closed

[2021-05-17 17:53] sebastic commented on #4036
Mapnik 3.1.0 doesn't have those changes yet, when can we expect a release with support for proj.h?

[2021-05-18 06:46] landryb commented on #4036
apparently fixed by 88241b32, would have been nice to have the ref.. commit is huge to backport, so yeah would be nice to have a release with it.

[2021-05-18 15:02] Chaos-git-acc opened #4231 "Speicherzugriffsfehler"
I followed this Tutorial:
https://switch2osm.org/serving-tiles/manually-building-a-tile-server-20-04-lts/

But when i run i get this error:
renderd -f -c /usr/local/etc/renderd.conf
i get this error:
Speicherzugriffsfehler(Speicherbazug geschrieben)

When i run it with sudo i get:
Speicherzugriffsfehler

[2021-05-19 07:42] Chaos-git-acc commented on #4231
I just set up Ubuntu again and now it works

[2021-05-19 07:42] #4231 closed

[2021-05-20 16:04] gravitystorm commented on #4204
Duplicate of #3451

[2021-05-31 13:28] otbutz commented on #4152
Mapnik v3.1.0 seems to be unaffected

[2021-06-11 10:58] dasfex commented on #3582
Hey guys. Do you have troubles when make this part
[code]
cause now there is no option --with-icu4c.

[2021-06-16 13:54] StyXman commented on #4210
@hholzgra  Yeah, sorry for the confusion, the code I put in the issue description is actually `carto-css` code, but in my first comment you can clearly see the generated MapnikXML.

I see you `csv` example, I just wonder if there is a difference between `csv` and `pgsql` data handling going on...

[2021-06-20 09:34] RaymondLChastain opened #4232 "Building for Proj > 8.0 and GDAL > 3.2"
There doesn't seem to be any way to build mapnik with a modern version of Proj/GDAL this poses an issue when building on systems that no longer provide older versions of these dependencies, as well as issues for any other software which is dependent on newer versions of these dependencies.

Are there any plans to make a release for newer versions of Proj? I've seen issues/commits related to the is

[2021-06-23 13:19] lucadelu commented on #4232
This is really important for mapnik future

[2021-06-24 07:29] mathisloge commented on #4232
With https://github.com/mapnik/mapnik/pull/4202 proj 8 should be supported and I have build mapnik with proj8 ( only with cmake and not with scons)

[2021-06-24 07:48] tomhughes commented on #4232
The problem is that's on master and most distro's are on 3.x still because there's still no 4.x release...

I've pushed the branch I use for the Fedora builds to https://github.com/tomhughes/mapnik/tree/fedora which includes my backport of the proj6 fixes.

[2021-07-01 07:34] mar0321 opened #4233 "shield symbolizer text alignment issue"
Hi,
we have an issue on mapnik 3.0.23. we have shield symbolizer which shows label of railway station.
Works fine until there are letters like "p", "j" or special symbols, then no matter size of the shield the labeled text is in bottom part of shield instead of in the center of the shield like others.

Any advice how to resolve it?
Thank you
![nadrazi](https://user-images.githubusercontent.com/223

[2021-07-19 19:26] zdila opened #4234 "add support for variables in fontset-name"
Please add support for variables in `fontset-name` attribute.

[2021-07-21 19:31] mathisloge opened #4235 "boost regression"
This issue is pulled out of #4191 to split the discussion a bit.

The minimum boost version in SCons is 1.61. However in https://github.com/mapnik/mapnik/pull/4191#issuecomment-875053928 were build failures reported (with boost version  1.66.0)

I've tested on Ubuntu 20.04 again and had linkage errors with boost 1.71. The latest boost version that compiled successfully was 1.73.

Linkage error wit

[2021-07-22 06:19] mathisloge commented on #4235
#4211 is related

[2021-07-28 17:57] mathisloge commented on #1453
should I take this for #4191 into account?

[2021-08-02 09:20] mar0321 opened #4236 "changes in proj for mapnik 4.0.0"
Hi i have question,
how should i define SRS in XML mapnik project after the changes in proj, because old definition doesn't work anymore:
<Map srs="+proj=krovak +lat_0=49.5 +lon_0=24.83333333333333 +alpha=30.28813972222222 +k=0.9999 +x_0=0 +y_0=0 +ellps=bessel +towgs84=589,76,480,0,0,0,0 +units=m +no_defs">
	<Layer srs="+proj=krovak +lat_0=49.5 +lon_0=24.83333333333333 +alpha=30.28813972222222 +k=

[2021-08-02 20:03] mathisloge commented on #4236
https://github.com/mapnik/mapnik/blob/master/benchmark/data/gdal-wgs.xml shows a example srs

[2021-08-03 05:19] mar0321 commented on #4236
Ok thanks, i found that and its pretty clear for 3857 and 4326 SRS. But what if im using a diferent srs like 5514? In current mapnik 3.1 the defininiton is +proj=krovak +lat_0=49.5 +lon_0=24.83333333333333 +alpha=30.28813972222222 +k=0.9999 +x_0=0 +y_0=0 +ellps=bessel +towgs84=589,76,480,0,0,0,0 +units=m +no_defs
But what definition should i use now at mapnik - master? epsg:5514 won't work.

[2021-08-03 05:35] mar0321 opened #4237 "VRT in mapnik doesn't work correctly"
Hi,
we used to do Hybrid map via Mapnik, using orto rasters (JPG) and some label layers. but since mapnik 3.0.23 output rasters are incorrect. Ortomap from vrt. is blurry and the resolution is damaged. Any ideas? Im sorry it might be not related to mapnik but. Before that we used mapnik 3.0.12 and everything was fine.
Strange is that when we use single raster the output is fine and also when we bu

[2021-08-03 07:13] mathisloge commented on #4236
`+proj=krovak +lat_0=49.5 +lon_0=24.83333333333333 +alpha=30.28813972222222 +k=0.9999 +x_0=0 +y_0=0 +ellps=bessel +towgs84=589,76,480,0,0,0,0 +units=m +no_defs` doesn't work?

https://github.com/mapnik/mapnik/blob/51b118ef2f8dd4146dbbbdf2259e1cc4867c5c72/benchmark/data/polygon_rendering_clip.xml#L1

is something in the same direction

[2021-08-03 08:30] mar0321 commented on #4236
no it doesn't work so i guessed it will be written in different way proj6> and because init=epsg:4326 is changed to epsg:4326 i thought +proj=krovak ........... changed too.

[2021-08-03 12:11] mar0321 commented on #4236
i even used proj6 python bindings which was recommend but still get: Cannot initialize projection '+proj=krovak +lat_0=49.5 +lon_0=24.83333333333333 +alpha=30.28813972222222 +k=0.9999 +x_0=0 +y_0=0 +ellps=bessel +pm=greenwich +units=m +no_defs +towgs84=570.8,85.7,462.8,4.998,1.587,5.261,3.56 ' without proj support (-DMAPNIK_USE_PROJ)

So is there a way how to add proj ? or is it the old library pr

[2021-08-03 12:16] mathisloge commented on #4236
ah okay. You are using python-mapnik. i don't know what the current status is there. But could you make sure that the define `MAPNIK_USE_PROJ` is really defined? Note that it was changed from `MAPNIK_USE_PROJ4` to `MAPNIK_USE_PROJ`

[2021-08-07 09:01] mar0321 commented on #4236
well yes it's definitely defined And i know tjere way a change cause with epsg:3857 it works fine. I jíst need to know how to jsem other coordinate sysem again. It's crucial fór me.

[2021-08-09 08:45] larsga commented on #4036
I managed to get round this by downloading, building, and installing PROJ v4.9 as described here: https://www.markhneedham.com/blog/2015/10/05/mac-os-x-installing-the-proj-4-cartographic-projections-library/

[2021-08-13 00:38] craigds commented on #4235
I also was getting build failures with boost 1.65 on Ubuntu 18.04 LTS (the same failures mentioned in https://github.com/mapnik/mapnik/pull/4191#issuecomment-875053928 )

Using libboost1.74 from https://launchpad.net/~mhier/+archive/ubuntu/libboost-latest/ fixed this problem for me

[2021-08-13 18:37] mathisloge commented on #4236
So I'm not that into the xml specs of mapnik. Which version of proj do you use?

[2021-08-16 05:18] mar0321 commented on #4236
i have debian buster (proj. 5.2.0-1) no errors during ./configure, so everything supose to be fine :) Or should install newer version via pip e.g.?

[2021-08-17 06:46] mar0321 commented on #4236
Thank you for trying to help, problem solved it really needed higher version of PROJ, which is on debian implemented only on new bullseye release.

[2021-08-17 06:46] #4236 closed

[2021-08-17 09:11] Tom-python0121 opened #4240 "make test failed in mapnik@master on centos8_aarch64"
Hello,I meet a problem:make test failed in mapnik@master on centos8_aarch64
### Steps to reproduce the issue

[code]
Why do these errors happen? Can you help me see it? How to fix it?

[2021-08-17 20:19] mathisloge commented on #4236
yeah. Had in mind that proj >= 6 is a requirement now.

Sorry for the late response!

[2021-08-17 20:21] mathisloge commented on #4240
Which proj version do you have? maybe https://github.com/mapnik/mapnik/issues/4236 is related

[2021-08-18 06:35] Tom-python0121 commented on #4240
@mathisloge proj version:
### Steps to reproduce the issue

[code]

[2021-08-18 12:05] circumstancecc opened #4241 "Failed to clip large data"
I cropped about 500 million polygons into Mapnik, which was successful after zoom14 but not before. I use some strategies, such as building a pyramid on the data source, this scheme doesn't work, is there another solution?

[2021-08-24 18:53] mathisloge commented on #4240
have you pulled the latest master? SVG test data was changed recently.

[2021-08-25 03:09] Tom-python0121 commented on #4240
@mathisloge I've pulled down the latest master version to test it, but the related test error is still reported:
[code]

[2021-08-30 08:44] #4190 closed

[2021-08-31 01:53] craigds commented on #4235
This issue makes it quite hard to build a python-mapnik on Ubuntu 18.04

I tried using a libboost1.74 from [this PPA](https://launchpad.net/~mhier/+archive/ubuntu/libboost-latest) which works for mapnik itself if you get the packaging right, but because there's no boost-python included there's no way to build python-mapnik with that.

[2021-09-01 21:05] yohanboniface opened #4243 "Fresh install: undefined reference to `mapnik::feature_style_processor<mapnik::cairo_renderer<std::shared_ptr<_cairo> > >::apply(double)"
When I try to build Mapnik, after a fresh clone, it fails with this message:

[code]

Here is `./configure` output:

[code]

Full log:  https://paste.sh/3M9H30rh#fu25ZorcB9fD4bcBB5yvQ8_e

I'm running Archlinux. Python 3.9.6.

Any clue ?

Thanks!

[2021-09-06 09:19] artemp commented on #4243
@yohanboniface  - I don't see anything obvious from configure stderr. Could you re-post link to full log, I'm getting `Not found`?

[2021-09-06 10:28] yohanboniface commented on #4243
Hi @artemp :)

Here you go!

[mapnik.log](https://github.com/mapnik/mapnik/files/7115229/mapnik.log)

Thanks :)

[2021-09-06 11:51] artemp commented on #4243
Could you post output from

`nm -C srs/libmapnik.so | grep feature_style_processor` ?

[2021-09-06 13:42] yohanboniface commented on #4243
Sure :)

[code]

Thanks!

[2021-09-06 14:00] artemp commented on #4243
@yohanboniface so the symbol in question is defined `libmapnik.so` hmm.. it's difficult to guess how your build system configured exactly, perhaps you have multiple `libmapnik.so` libs in `LD_LIBRARY_PATH` ?

[2021-09-10 11:21] yohanboniface commented on #4243
I do have a bunch of `libmapnik.so` around:

[code]

I had the intuition that the issue could be something like that, this is why I reclonned mapnik (`mapnik.new`) and I also removed my system mapnik.
But I don't know which one from the list above could create a conflict. Any way to debug `LD_LIBRARY_PATH` at compile time ?

[2021-09-17 06:27] mathisloge commented on #3992
Sorry that it has taken so long @Tom-Henoch. But mapnik is now included in vcpkg and supports all major OS.
Port name is `mapnik`. For all features just type `vcpkg search mapnik`.

@artemp this issue could be closed.

[2021-09-17 08:58] #3992 closed

[2021-09-17 08:58] artemp commented on #3992
:+1:

[2021-09-17 20:04] JBacc1 opened #4245 "clang++ version not working anymore in wiki doc"
It seems, on page: https://github.com/mapnik/mapnik/wiki/UbuntuInstallation, Install Mapnik from source,
that: `export CXX="clang++-3.8" && export CC="clang-3.8"`
should now be replaced by: `export CXX="clang++-10" && export CC="clang-10"`

[2021-09-20 08:31] StyXman opened #4246 "(svg) maker halos"
Currently mapnik allows setting marker color (fill) and outline (stroke) when the marker is an SVG file. I would like to also have halos, which in my head "should be easily implementable with the same code that does stroke", although of course I have not a single clue how even SVG rendering is implemented.

Halos allow icons to stand out from complex backgrounds independently of other techniques l

[2021-09-20 19:28] StyXman opened #4247 "Implementing marker halos with two layers"
I tried to fake what I asked in #4246, but I hit an issue.

The way I did it is to draw two layers. The lower one uses an SVG, set fill and stroke to white, stroke width to 2. The upper one uses the same SVG only with fill in another color (a shade of red). This _should_ imitate a 1px halo, right?

No. The stroke style is _also_ used in the upper layer. See for yourself:

![128](https://user-image

[2021-09-21 20:01] #4131 closed

[2021-09-21 21:21] StyXman commented on #4247
In fact, yes, that's what I'm seeing. If I comment out the first layer, the right icon shows in the resulting image. I tried to do the same with lines and of course it works, because that's how everybody is implementing road casing. Here's the two other layers I added for that:

[code]

Resulting image:

![128](https://user-images.githubusercontent.com/167327/134249290-51460e26-fd87-4d09-9f4a-bd70

[2021-09-23 10:57] artemp commented on #4245
@JBacc1 - the page is outdated and needs some revamping, cheers.

[2021-09-23 16:42] JBacc1 commented on #4245
Perhaps write it on top of the page: "This page is old and not up to date"? At least you won't expect it to work that fine?

[2021-09-29 19:01] b00ga opened #4249 "Mapnik master seems to now require at least Boost 1.70"
Having a really hard time getting mapnik built with all optional deps (as listed here: https://github.com/mapnik/mapnik/blob/master/INSTALL.md) on RHEL/CentOS 8.

The linked header below appears to require Boost 1.70+. The install doc above states the following requirement for boost:
= 1.47 is required and >= 1.56 recommended

RHEL8 comes with boost/boost-devel package v1.66 or a parallel installa

[2021-09-29 20:18] cmidst commented on #4243
@yohanboniface Were you able to figure out what the problem was?

I'm experiencing the same issue. In my case it's a RHEL 8 system and the only thing on it is mapnik (a single libmapnik.so).
I'm trying to figure out what changed in my environment since I last built this 3 months ago.

[2021-09-29 20:23] b00ga commented on #4243
Very similar issue. CentOS 8, Postgres13, postgis, libpq, gdal, proj from postgresql.org (PGDG) repo. Boost169 from CentOS.
[code]

Built from commit 69911ad9eac59e1b495ea495b298ec854dde26b1

[2021-09-29 20:27] b00ga commented on #4235
For reference, I'm trying to build for RHEL/CentOS 8 and your packaged options are Boost 1.66 or a parallel-installable 1.69.

[2021-10-01 18:51] mathisloge commented on #4249
I think boost 1.70 had some issues: https://github.com/mapnik/mapnik/issues/4041

[2021-10-01 20:57] b00ga commented on #4249
@mat007  Understood. I'm trying to build with either 1.66 or 1.69, but commit 737e7a69c2679b33093e1ebf0b4c3fa34ae36878 introduces a dependency on _boost/geometry/strategies/cartesian/disjoint_box_box.hpp_. From what I can tell, this header is only available in Boost >= 1.70. The install docs say the minimum Boost is 1.47 with 1.56 being recommended.

I was able to build @tomhughes forked 'fedora'

[2021-10-01 21:56] mathisloge commented on #4249
I think the docs are a bit out of date and needs to be updated. SCons build scripts has `BOOST_MIN_VERSION = '1.61'`.
But as described in https://github.com/mapnik/mapnik/issues/4235 there is a regression.
I don't know what artemp's plans are regarding the min-boost version, as the current v4 is under development. Maybe it will get raised, since proj was raised to proj>=7.2, too.  (But don't take

[2021-10-06 09:20] artemp commented on #4249
@b00ga - Would adding `#include <boost/geometry/strategies/cartesian/disjoint_box_box.hpp>` conditionally if `BOOST_VERSION >= 1_77`  (https://github.com/mapnik/mapnik/commit/737e7a69c2679b33093e1ebf0b4c3fa34ae36878)  solve this issue for you ?
/cc @mathisloge

[2021-10-06 13:23] #4211 closed

[2021-10-06 13:23] #4235 closed

[2021-10-06 15:03] mathisloge commented on #4249
You definitly have to fix more errors then wrapping `#include <boost/geometry/strategies/cartesian/disjoint_box_box.hpp>` conditionally (see #4235 for details).

Have you build proj 8.1 yourself or is that already the newest over yum?

[2021-10-07 18:22] mathisloge commented on #4249
`mapnik-config` and PROJ pkg-conf support will be worked on in #4252

[2021-10-08 22:10] b00ga commented on #4249
@mathisloge Looks like the GLOBAL isn't required, just removing the line you suggested. Got a clean cmake configure and build with just:
[code]

[2021-10-09 12:16] mathisloge commented on #4249
Some tests are needing env variables and data copied into the binary dir.
The manual setup, env vars and the segfault are fixed/worked on) in #4252

expressions might be related to boost-regex without icu.

[2021-10-13 04:47] b00ga commented on #4249
@artemp I did some more testing with the scons build. The _make_ failure seems to be that _libboost_filesystem_ requires _libboost_atomic_ and on EL, the way the linker is setup, atomic can't be found (for example, ldd shows it is not found).  I read up some more on boost builds, and I learned how I could build boost with an rpath set in the shared libraries. I've updated my CentOS 8 [build gist](

[2021-10-18 16:26] manthey opened #4255 "pkg-config values"
Using the cmake build, I think the pkg-config files and values should be `mapnik.pc` rather than `libmapnik.pc`, and similarly for the wkt and json variants.  Specifically, when building with the `pkg-config mapnik --libs` flags from these, I get an errors like: `note to link with /usr/local/lib/libmapnikjson.a use -l:libmapnikjson.a or rename it to liblibmapnikjson.a`.

If I'm just doing somethin

[2021-10-19 20:39] manthey commented on #4255
@mathisloge In looking a little further (I'm no pkg-config expert), I think that it isn't the `Requires` parameter is based on the file name of the dependencies' pkg-config entries, but the `Libs:` parameter needs to not have the `lib` prefix in front of `mapnik`.

Thanks for make a CMake build process and the pkg-config support.  CMake is much faster on my system than scons.

[2021-10-20 08:37] mathisloge commented on #4255
work is tracked in  #4256

Could you test that?
[code]

[2021-10-20 17:08] xuxucmkox opened #4258 "Unsubscribe from mapnik/maopnik"
Hello,

So sorry I could not find any email I can send this to, so I have to make an issue for this.

I previously subscribed to mapnik/mapnik repo, but want to unsubscribe now. For some reason github showed the unsubscribe link is invalid, so can you help me manually unsubscribe me from the mailing list? Thank you.

I am not sure which could be the email I used in that list. It could be xuxucmkox

[2021-10-20 20:37] mathisloge commented on #4258
I think you have to log into your github account which is subscribed to mapnik/mapnik and click the button
![image](https://user-images.githubusercontent.com/13556116/138168394-f3f54881-f26c-43e4-994d-1804e71a83c7.png)
in the top right corner

[2021-10-20 20:54] mathisloge opened #4259 "_WINDOWS define compability"
So I've come across `_WINDOWS` defines. After some research I can't find a reliable source that this define is guranteed to be set. When consulting the offical docs it is not mentioned. https://docs.microsoft.com/en-us/cpp/preprocessor/predefined-macros?redirectedfrom=MSDN&view=msvc-160

Or https://sourceforge.net/p/predef/wiki/OperatingSystems/

I would be more relaxed if we took the _WIN32 defin

[2021-10-20 21:37] mathisloge commented on #4259
So I've also asked this question on the include cpp channel in discord.
Turns out of be the define for Windows 16 bit.

Think it is time to move on :D

https://discord.com/channels/400588936151433218/838777542139838505/900493806661697586

[2021-10-21 10:25] #4258 closed

[2021-10-22 19:00] mathisloge opened #4261 "FYI: full osm toolchain tested on windows"
Just wanted to let you now, that I've now tested a full osm toolchain on windows.

`.osm.pbf -> osm2pgsql -> openstreetmap-carto -> tile-renderer(mapnik-master) -> tile-server -> tangram-es`

![image](https://user-images.githubusercontent.com/13556116/138509134-dec6951c-0138-43b4-bcb5-a612d48c9b56.png)

you can close this.

I've also tested node-mapnik with kosmtik. It runs but didn't render tiles

[2021-10-25 09:25] #4259 closed, assigned to nobody

[2021-11-08 05:34] ygroeg opened #4263 "Rendering overlapping maps"
I have different maps in my postgres db and they look like this ![maps_sample](https://user-images.githubusercontent.com/93899192/140687737-d92ce9e0-2d04-4205-9880-3942e1b98c75.jpg)Areas that overlap provide better detalization, however in result are much slower to render. I found, for example, that to render picture A, that has several maps' areas overlapping it, it would take a lot more time the

[2021-11-09 14:17] talaj commented on #4263
Hi. You need a little bit of logic atop Mapnik. I presume you are rendering to tiles. Split your maps to individual Mapnik Maps, create a polygon of map borders for each map. Then, when you rendering a tile, test the tile polygon intersection/containment against polygons of each map to know which maps to render or not.
This logic can be very efficient by utilizing prepared geometries for polygons

[2021-11-09 20:10] mathisloge commented on #4229
I don't know if this is on your list, but at least `std::shared_ptr<T>::unique` is deprecated (c++17) and removed in c++20.
It is at least used in  https://github.com/mapnik/mapnik/blob/dc5f497495961185997bc490109239a0c3e8d6a9/include/mapnik/pool.hpp#L78

[2021-11-09 20:51] artemp commented on #4229
@mathisloge yep, needs addressing, thanks for highlighting!

[2021-11-10 07:20] ygroeg commented on #4263
Hi, thanks for your answer. Does it make a lot of difference if I render to tiles or not? I will include some details about project I am working on, because maybe this will help. The project is server, whose client provide current coordinates and amount of kilometers to the border of outgoing picture, and server sends in return that png picture. So it doesn't render to the tiles, but rather render

[2021-11-10 09:05] talaj commented on #4263
Thanks for sharing more info. By tiles I meant you don't need or want to render whole map at once. Thus for bbox of your rendered image you can say what layers are visible or not. Set `status=false` to those layers that are not visible. That will prevent rendering them.

[2021-11-10 12:41] MKaczkow opened #4264 "Error while trying to install Mapnik v3.1 on Ubuntu 20.04"
Hi,

I get the following error while trying to install mapnik v3.1.0 on Ubuntu 20.04:
[code]
I am following this tutorial:
https://switch2osm.org/serving-tiles/manually-building-a-tile-server-20-04-lts/
as well as your install guide (due to corporate policy machine is not connected to the Internet so I downloaded mapnik to different machine, transfered all the files and attempt to build from sourc

[2021-11-10 13:21] MKaczkow commented on #4264
Thanks for quick answer :-)

Yes, I am building from master and have added variant submodule (following installation guide).

[2021-11-10 13:52] mathisloge commented on #4264
For a quick solution you could also disable the demo app with https://github.com/mapnik/mapnik/blob/dc5f497495961185997bc490109239a0c3e8d6a9/SConstruct#L462 . So that you can get started

[2021-11-13 22:46] erictapen opened #4265 "CMake doesn't select the correct library dir for Harfbuzz"
I'm trying to compile latest master (dc5f497495961185997bc490109239a0c3e8d6a9) using CMake on Nixpkgs. I eventually get the error (full log below)

[code]

That path `/nix/store/...-harfbuzz-2.8.2-dev/lib/libharfbuzz.so.0.20802.0` is wrong, the directory doesn't contain any .so files on Nixpkgs. It's supposed to be `/nix/store/...-harfbuzz-2.8.2/lib/libharfbuzz.so.0.20802.0` (notice the missing `-

[2021-11-14 00:12] mathisloge commented on #4265
hey,

so I'm currently only on my phone so I currently can't give good code recommendations.

`Found harfbuzz native cmake` indicates that a config file for harfbuzz was found.
It would be interesting, if the harfbuzz config file contains invalid paths.
If this is the case, we should look at upstream harfbuzz to fix this there.

But as a quick work around, you could remove the whole harfbuzz secti

[2021-11-14 17:27] erictapen commented on #4265
Thanks a lot for that fast reply.

Your workaround works like a charm. We will likely just maintain that patch in Nixpkgs, so no need to bother further from my side.

Though I don't think the harfbuzz pkg-config files are at fault here. They seem to work reliably at hundreds of other packages in Nixpkgs and they seem legit to me (see the `harfbuzz.pc` excerpt posted above).

[2021-11-14 20:40] mathisloge commented on #4265
So there are two concepts mixed here.
The `mapnik_find_package(harfbuzz CONFIG)` is actually `find_package(harfbuzz CONFIG)` and this look for a `harfbuzzConfig.cmake` file. This is a file generated by harfbuzz itself. And from your logs it looks like it was found. If this file was found, there isn't any usage of the pkgconfig files. Rather the harfbuzzConfig.cmake and other related files e.g. har

[2021-11-14 21:28] erictapen commented on #4265
Ow, indeed I mixed up the concepts here. Didn't even know that cmake provides a mechanism for package detection.

Now that I looked at discussions about cmake on upstreams side (e.g. https://github.com/harfbuzz/harfbuzz/issues/2653) my confidence in the correctness of their cmake files dropped rapidly. They seem to have support for it a long time ago and are using meson nowadays. I think I'll find

[2021-11-14 21:28] #4265 closed

[2021-11-14 22:00] mathisloge commented on #4265
Glad to help :)

Thanks for the linked discussion. This might actually be a reason to use pkg-config for harfbuzz completely or improve the already existing `FindHarfbuzz` on mapnik side.

[2021-11-15 00:24] mathisloge commented on #3573
as visual studio 2022 is now out and mapnik builds successfully on vs 2017 to vs 2022 I think we can close this issue?
Since windows builds weren't really supported the last years I think it is fine to not support vs 2015.

( This is in the v4 milestone. )

[2021-11-15 14:22] #3573 closed

[2021-11-16 09:00] mathisloge opened #4268 "boost filesystem remove access is denied"
Hi @artemp ,

so in https://github.com/mapnik/mapnik/pull/4262 I've some strange problems (Only on windows CI).

I've now tried some different things:

* replace `boost::filesystem::remove` with `std::filesystem::remove` (c++20) => **works**
* add a `cout::flush` before the `std::system` call to clear the stdout pipe => **no difference**
* add a timeout of 1 sec before the remove call, to let runn

[2021-11-16 11:51] MKaczkow commented on #4264
Follow-up:

1) Trying to disable demo app didn't help
``` BoolVariable('DEMO', 'Compile demo c++ application', 'False'), ```
After running ```sudo python3 ./scons/scons.py configure``` and ```make``` I got the same error as before:
[code]

2) I've also tried to use cmake instead of scons build, as you suggested. I created ```mapnik_build``` directory, cd into it, then run ```cmake ../mapnik_build`

[2021-11-16 11:57] mathisloge commented on #4264
For cmake, proj is still optional, although you need to disable it because proj is a common use case and is therefore enabled by default.

so when configuring the project you have to pass `-DUSE_PROJ=OFF` to disable proj.

E.g.: `cmake .. -DUSE_PROJ=OFF`

All available options are listed in the root CMakeLists.txt identifiable by the call to `mapnik_option`.
For proj e.g.: https://github.com/mapni

[2021-11-16 15:36] MKaczkow commented on #4264
Thanks, that worked!

Now, during next step:
[code]

Clearly, cmake is trying to clone github repository, which is not possible due to lack of Internet connection. Is it possible to turn off this cloning? From what I've read Catch2 is a testing framework, so does it really affects mapnik behaviour?

[2021-11-16 15:43] mathisloge commented on #4264
Oh yeah. You can disable the tests with `BUILD_TESTING=OFF`
So `cmake .. -DUSE_PROJ=OFF -DBUILD_TESTING=OFF`
That would completly disable the tests, but if you are just interested in the library itself it is sufficient.

If you are needing the tests, you can prefetch the catch2 contents with this. Haven't done it myself yet.
https://cmake.org/cmake/help/latest/module/FetchContent.html#variable:FET

[2021-11-16 18:18] kujohn opened #4269 "zoom level and cut tile"
I've successfully use mapnik to load up the geojson required for map, but I could not figure out how zoom and tiling works. I am working with lat/long and zoom levels (1 ~ 20) but mapnik api seem to require bounding box for zoom.

Do people typically use mapnik to render large size maps and cut up and zoom outside of mapnik? Or can mapnik do that for you?

[2021-11-16 18:25] mathisloge commented on #4269
The zoom level depends on your projection used.
Mapnik is typically used to generate tiles from some raw data. E.g. a openstreetmap export.

I have a simple renderer to test tile rendering

[2021-11-16 18:52] kujohn commented on #4269
Thanks for the guidance!

[2021-11-16 18:52] #4269 closed

[2021-11-18 14:00] mathisloge commented on #4268
It's somehow related to the memory mapped file feature. Somehow the `test/data/shp/boundaries.index` is still holding a handle which isn't closed.

[2021-11-18 14:44] artemp commented on #4268
@mathisloge - this rings the bell somewhat.  Is this related to particular windows/msvc version on CI?  Perhaps, we can disable memory mapping for CI builds e.g `MEMORY_MAPPED_FILE=0` ?

[2021-11-18 14:56] mathisloge commented on #4268
When I'm setting `MEMORY_MAPPED_FILE=0` the tests are successful.
It is more of a issue with `boost::filesystem::remove` which can't remove the file if a handle is still active. with `std::filesystem::remove` this doesn't happen. As in https://github.com/boostorg/filesystem/issues/216 stated, the maintainer might planning to add the same behavior as msvc stl but this is far in the future.

I think

[2021-11-18 16:24] artemp commented on #4268
Looks like  'MEMORY_MAPPED_FILE=0` is a solution for now, thanks for investigation! :+1:

[2021-11-18 16:29] mathisloge commented on #4268
at least probably for windows server and Windows10 < version 1709.

I'll try to find a way to fix this.

[2021-11-22 07:08] MKaczkow commented on #4264
Follow-up: assuming you mean `BUILD_TEST=OFF` instead of `BUILD_TESTING=OFF` (the later returns error) I disabled the test and was able to build mapnik correctly. I am having some fonts-related issues, which I'm in a process of debugging - if it isn't mapnik-related I will close the issue, if not I will let you know.

[2021-11-22 07:42] mathisloge commented on #4264
@MKaczkow FYI: if you should pull the master sometime, BUILD_TEST was changed to BUILE_TESTING

[2021-11-22 08:04] MKaczkow commented on #4264
Yup, just saw your latest PR

[2021-11-29 07:59] MKaczkow commented on #4264
Ok, it appears mapnik installation is all right - thanks a ton for your help!

[2021-11-29 07:59] #4264 closed

[2021-12-31 13:11] iqqmuT commented on #2157
This seems to be still a valid issue in 3.1.0.

[2022-01-18 11:22] mathisloge commented on #4268
So the reason for the access denied error (when `MEMORY_MAPPED_FILE=1`) is that the file to be removed is still open in the cache.

So if a file is added to the `mapped_memory_cache` and will be removed, it won't get removed of `mapped_memory_cache` and therefore is still opened
I think the most clean solution would be a file wrapper. e.g.:
[code]

with an addition to `mapped_memory_cache`:
` void

[2022-01-21 10:55] mathisloge opened #4278 "last bits for github actions ci"
So I'm pretty happy with the github ci now.
However there are two remaining failing tests left for windows:

1. nested script runs
2. shaping

Both failed tests are looking like a windows unicode problem which I don't really know how to fix.

We could also take windows not as a "first-class citizen" and let them fail silently on windows. However I think it might be good to fix those two tests and

[2022-01-21 11:43] mathisloge commented on #4062
@artemp this can be closed since windows is now supported to be build with cmake.

For anyone coming across this issue, see https://github.com/mapnik/mapnik/blob/master/docs/cmake-usage.md for more information. As long as the vcpkg.json manifsest file isn't in the source tree, a vcpkg.json file can be found here: https://github.com/mapnik/mapnik/blob/cd21256b6b308aad7e8d28b33da150fcec10b585/vcpkg.

[2022-01-21 14:07] #4062 closed

[2022-01-25 08:54] #4268 closed

[2022-01-26 00:30] mathisloge commented on #4278
Fixed with linked commit

[2022-01-26 00:30] #4278 closed

[2022-01-26 21:07] grassick opened #4283 "Unable to connect to Postgresql 14 with scram-sha-256 password hashing"
Mapnik (installed from node-mapnik 4.5.9) can't connect to Postgres 14 which is by default using scram-sha-256 password hashing.

The error is: `Postgis Plugin: authentication method 10 not supported`

As a workaround, you can set Postgresql back to `md5` password hashing, but it involves resetting all passwords.

It appears that Mapnik is linked against an older version of libpq, or is doing its

[2022-01-26 21:09] artemp commented on #4283
@grassick - yes, looks like `libpq` needs upgrading. Thanks for highlighting

[2022-01-27 21:08] Ghoughpteighbteau opened #4285 "mapnik fails to build in alpine `undefined reference to mapnik::feature_style_processor`"
Error is:
[code]

I'm building it inside a container to make sure the environment is pristine and reproduce-able, and this Dockerfile is as close a translation of https://github.com/mapnik/mapnik/blob/master/INSTALL.md as I can get.
[code]

This error looks similar to https://github.com/mapnik/mapnik/issues/4264

Is this something that should be added to install.md? I dunno I'm a little lost in al

[2022-01-27 22:03] mathisloge commented on #4285
I think this is an issue with some scons config. But I don't know anything about SCons.
https://github.com/mapnik/mapnik/issues/4249 https://github.com/mapnik/mapnik/issues/4243 seem to have the same issues

[2022-01-27 22:17] Ghoughpteighbteau commented on #4285
is there a different set of build instructions I should follow?

[2022-01-27 22:22] mathisloge commented on #4285
There is either SCons or CMake as a build system available. So you can choose between them.

See for an example Docker with CMake: https://github.com/mapnik/mapnik/pull/4267 or with scons https://github.com/jawg/docker-mapnik3 (Note that the latter one does not use the latest master).

[2022-01-29 11:48] mathisloge opened #4287 "question about static plugins"
I wanted to add the static plugin functionality to cmake, too. But https://github.com/mapnik/mapnik/blob/master/src/datasource_cache_static.cpp declares either plugins, which are not present anymore  or currently available plugins not.

Missing plugin definitions: geobuf, pgraster, topojson

So my question is: Is this feature deprecated/not used by anyone or should it be maintained? (add missing d

[2022-02-01 15:11] artemp commented on #4287
@mathisloge It's useful when constructing one "all-included" binary I think or on platforms/setups where dynamic loading is not available or problematic.

 I suspect `geobuf.input`, `topojson.input` and `geojson.input` will have some duplicate symbols, too.

Have you tried adding missing definitions and see if it builds ok?

[2022-02-02 09:02] mathisloge commented on #4287
ah yeah - correct. Propably prebuild node-mapnik, python-mapnik on linux

I will look into it this week and report back. 👍

[2022-02-05 21:59] zdila opened #4292 "Text symbolizer on multipolygon with multiple outer ways"
Text symbolizer multipolygon with multiple outer ways displays text in one of outer ways and not in the centeroid of the whole object. It is the same for placement "point" or "interior".

It would be also nice to unify placements with marker symbolizer and add support of multi-policy also to text symbolizer (but this is maybe offtopic here).

Thanks!

[2022-02-06 15:14] talaj commented on #4292
Hi Martin, have you tried to set `largest-bbox-only` to false?

[2022-02-06 15:23] zdila commented on #4292
Hi talaj,

Tried it now but then the label is placed in every outer-way polygon.

What I actually want is to place text above the marker, where marker symbolizer has attributes `multi-policy="whole"` (and default placement which should be `point`).

For text symbolizer I have `dy="-10"` but can't find other suitable attributes (like `placement`, now also `largest-bbox-only`).

[2022-02-07 16:37] mathisloge opened #4293 "github actions"
Hey @artemp

could you create a seperate test repository for github actions?
Some permissions don't work as expected when interacting with the organisation.

I would use the test repo to better debug the whole CI. But I would need push rights, as I propably need to test different variants.

Could you then also add the same PAT as used for this repo?

So my plans are as followed with the test repos

[2022-02-07 16:54] mathisloge commented on #4293
thanks!

[2022-02-07 16:55] artemp commented on #4293
@mathisloge :+1:

[2022-02-07 16:58] artemp commented on #4293
@mathisloge  I need to make this repo public in order to add PAT, just a sec...

[2022-02-07 16:59] mathisloge commented on #4293
@artemp public is good 👍

[2022-02-07 17:02] mathisloge commented on #4293
@artemp super! thanks!

[2022-02-07 22:44] mathisloge commented on #4293
@artemp I think the only problem was the PAT as the test repo now works correctly.
Could you rerun this https://github.com/mapnik/mapnik/actions/runs/1806846341 workflow ?
![image](https://user-images.githubusercontent.com/13556116/152884750-aa38d081-caaa-4b72-b168-6893697a7cd4.png)

[2022-02-07 22:51] artemp commented on #4293
@mathisloge running 🤞

[2022-02-07 23:03] mathisloge commented on #4293
@artemp nice 👍

Looks like it works now `Your package was pushed.` 🥇
I think windows will fail once more, since when building gdal it runs out of memory, if any other package needs to be build before.

[2022-02-08 09:45] mathisloge commented on #4293
@artemp could you rerun once more, so that gdal can be build? :D

[2022-02-08 14:02] #4293 closed

[2022-02-08 15:43] mathisloge commented on #4293
@artemp now it's all green https://github.com/mapnik/mapnik/actions/runs/1812722497 🟢

[2022-02-11 15:13] wafisher commented on #4025
Hi, would still love to see this. If it's any motivation at all, this feature would land in a (Mapbox-heavy) app that is used by 100K people/day.

Here's what our trains look like now without the right shadow. You can see the tip doesn't have a shadow under it

![IMG_2739](https://user-images.githubusercontent.com/3514570/153617173-7f34259b-3495-4fe8-9402-64c974508ea2.PNG)
.

[2022-02-17 09:41] artemp commented on #2427
@Andrey-VI - I'm trying to have a fresh look at this issue but I'm confused. Could you provide a test case (XML style file with inlined JSON datasource) which would result in text rendering you mentioned above ? Thanks.

[2022-02-17 13:19] Andrey-VI commented on #2427
@artemp, visual test: #2539
Unfortunately, in the current version of Mapnik it's impossible to do what I mentioned above. If it were possible, then there would be no request…
The key issue now is: if we use, for example, `wrap-character="-"` and `repeat-wrap-character="true"` all default ICU line breaking are ignored. So a names without `-`, for example `Two Four Eight Sixteen Thirty two Sixty fou

[2022-02-22 06:37] wuqi opened #4296 "utfgrid render in c++?"
Is there a way to render utfgird directly in c++?
I didn't find any code or excample to render utfgrid to json in c++

[2022-02-23 14:17] artemp commented on #4296
@wuqi
* https://github.com/mapnik/node-mapnik/blob/master/src/mapnik_map_render.cpp#L147-L213
* https://github.com/mapnik/python-mapnik/blob/master/src/python_grid_utils.cpp

[2022-02-24 02:09] wuqi commented on #4296
Thank you ,I'll try it.

[2022-02-24 11:39] zy6p commented on #4145
When using `mapnik.load_map` from a xml file, input files relative paths will be used. So you should load xml from string and rebuild with your enable-curl mapnik(#1957).

[2022-03-06 20:43] MarioTrams opened #4297 "mapnik-render reports "Error Not a map file. Node 'Map' not found." on OpenStreetMap maps"
Hello,

I wanted to try to render a map using the command-line "mapnik-render" tool. However, it is telling me always
Error Not a map file. Node 'Map' not found.

I'm using this under Ubuntu 20.04 and the version of mapnik-render is 3.0.23 (shown by mapnik-render -V).

I'm calling this like:
 mapnik-render --xml andorra-latest.osm --img test.png

andorra-latest.osm was just a (small) original map

[2022-03-06 21:00] MarioTrams opened #4298 "compilation resp. configure fails with "C++ compiler does not support C++14 standard.....""
Because I had troubles that mapnik-render (version 3.0.23) does not work for whatever reason I tried to build it from source as described here: https://github.com/mapnik/mapnik/wiki/UbuntuInstallation

During configure I get:
Checking if compiler (clang++-10) supports -std=c++14 flag... no
C++ compiler does not support C++14 standard (-std=c++14), which is required. Please upgrade your compiler

I

[2022-03-06 22:15] ThomasG77 commented on #4297
Normal, you are mixing things. You provide an input with XML from datasource (an OSM file) whereas you should provide an XML with Mapnik XML file. As you can see in my sample, there is a `Map` block whereas the osm file does not contain this block hence the error you mentioned

A minimum recipe that works

[code]

[2022-03-06 22:54] MarioTrams commented on #4297
Ok, thanks! I got the point. There is some wrapper needed that is linking the actual map. The example is working for me. Obviously there are some more changes needed in order to process OpenStreetMap maps, but I'm one step further.....

[2022-03-07 01:32] ChrisSchmidt11 commented on #4298
When I ran into this error it turned out to be due to an error immediately above it, one of the dependencies needed to be updated.  I can't remember which one, unfortunately, but I'd check the log file and see what happened right before this error came up.

[2022-03-07 09:32] mathisloge commented on #4297
@MarioTrams if you want to render osm tiles, look into https://switch2osm.org/serving-tiles/manually-building-a-tile-server-20-04-lts/ and https://github.com/gravitystorm/openstreetmap-carto

[2022-03-07 17:13] MarioTrams commented on #4297
@mathisloge Thanks! I'll check that.

[2022-03-07 17:19] MarioTrams commented on #4298
I did check config.log. The last messages are:

scons: Configure: Checking if compiler (clang++-12) supports -std=c++14 flag...
.sconf_temp/conftest_3f9f8e57ee3a30c900280a0be70bf928_0.cpp <-
  |
  |
  |int main()
  |{
  |#if __cplusplus >= 201402L
  |    return 0;
  |#else
  |    return -1;
  |#endif
  |}
  |
  |
clang++-12 -o .sconf_temp/conftest_3f9f8e57ee3a30c900280a0be70bf928_0.o -c -std=c++14

[2022-03-11 20:52] hholzgra commented on #4232
I just noticed that this not being in v3.1.x will somewhat break things for me on the soon upcoming Ubuntu 22.04 next LTS release as that release is switching form proj v7.x to v8.x ... :o

[2022-03-11 20:58] hholzgra commented on #4036
This not being in v3.1.x will lead to the soon to be released next Ubuntu LTS 22.04 release to no longer have proj support in its mapnik package as they have switched form proj v7 to v8 for that release ... :o

[2022-03-11 21:20] mathisloge commented on #4036
@artemp I could help with v4 next month.

Currently finishing my master thesis so I need to step a little bit back this month.

[2022-03-11 21:34] artemp commented on #4036
Sounds good, thanks for your contributions!

[2022-03-14 20:47] mathisloge opened #4299 "Road to v4"
This is mostly a todo list for me.
@artemp there is a v4 Milestone, which are some must haves of those?

- [ ] #4291
- [ ] all the proj changes in mapnik-python node-mapnik.
- [ ] maybe https://github.com/mapnik/node-mapnik/pull/976
- [ ] maybe https://github.com/mapnik/node-mapnik/pull/976

[2022-03-15 11:43] artemp commented on #4299
@mathisloge - My thinking -> `v4` is way overdue so let's defer static plugins which will bring breaking changes for later feature release `v4.1.x` ?

I still didn't have time to properly look into `mapnik::setup()` but my first reaction - can we make it at least configurable e.g if plugins are dynamic there's no requirement to call `setup()`? Sorry for lacking ambition on this, just feels like a

[2022-03-15 11:59] mathisloge commented on #4299
@artemp agree that `mapnik::setup()` is a big breaking change. If you want to make it optionally, I need to look into calling setup method in the translation unit to call it at dynamic initialization time.

https://github.com/mapnik/mapnik/blob/bb1bc2f07bdd85ed76d2dfa07a46670fa8b53769/src/mapnik.cpp

e.g.
[code]
or without the macro and just always call the setup method. If the compiler then remov

[2022-03-15 12:09] artemp commented on #4299
@mathisloge sounds good! Avoiding macro feels more c++ but your call. It might be easier to `#ifdef`

[2022-03-24 15:05] alexandre-chau opened #4301 "Xcode 12.5 and newer version doesn't compile"
I have an issue with newer version of Xcode after Xcode 12.5 release it seems apple clang compiler doesn't compile mapnik anymore. On older version of Xcode 12.4 and before it compile without error but since newer macOS version won't support older version of Xcode I have compatibility issue.

I did some testing and the error come from the compilation of expression_grammar.cpp with more research an

[2022-03-26 21:21] AlysonTrizotto opened #4302 "Install gcc 14"
Hi, I'm having trouble installing the program. Can anyone tell me how I install gcc 14? Everything I search leads me to MinGW, and I can't find a version of MinGW that comes with gcc 14

[2022-03-26 21:28] mathisloge commented on #4302
So you are on windows and trying to compile mapnik?

gcc 14 don't exists, so i think you try to get a c++14 compitable compiler. with https://www.msys2.org/ you get the gcc 11.2 compiler. I havn't tried to compile mapnik with mingw gcc yet, so if you have installed all required dependencies, it should hopefully work without any problems.

[2022-03-26 21:34] AlysonTrizotto commented on #4302
So I installed MinGW version 8.1.0, python and pip. But I'm getting the following return referring to c+
![Print](https://user-images.githubusercontent.com/79091765/160257908-3f2057f6-77fb-40d8-8980-ce4e0c01ee2a.PNG)
+

[2022-03-26 22:21] mathisloge commented on #4302
as [MingW-W64-builds](https://www.mingw-w64.org/downloads/#mingw-builds) shows, MingW-W64 only has gcc 8.1.0. So you need to install another version, either llvm, cygwin or msys2

[2022-03-28 16:12] AlysonTrizotto commented on #4302
Thanks for the tip, I managed to solve it with the problem with 'cygwin'

[2022-03-28 16:12] #4302 closed

[2022-03-29 18:04] AlysonTrizotto opened #4303 "install MapNik - freetype"
Hey how is everything?? I'm trying to install MapNik, but I can't get past this step

`PESSOAL@AlysonTrizotto MINGW64 /c/mapnik-v3.1.0/mapnik-v3.0.12 -- py 2.5
$ ./configure
scons: Reading SConscript files ...

Welcome to Mapnik...

Configuring build environment...
Configuring on Windows in *release mode*...
Checking for freetype-config... no
Checking for dlfcn.h support ... no
Checking if compile

[2022-03-29 18:06] AlysonTrizotto commented on #4303
I'm using Windows, I found a question here from your github about linux, but I couldn't do the same procedure

[2022-03-29 18:08] AlysonTrizotto commented on #4303
I have Freetype-2.11.1 here on my machine,
scons-4.3.0

[2022-03-31 15:32] #4303 closed, assigned to nobody

[2022-04-10 10:04] josch opened #4306 "regression: projections need to be a crs"
Hi,

thanks a lot for implementing proj7 support in 88241b32eeaccdc9eda7b92b7e7b6d4deac88e12. Unfortunately, that commit introduces a call to `proj_create_crs_to_crs` which means that projections must now be a crs. I was using this pipeline before:

    +proj=pipeline +step +proj=webmerc +step +proj=tinshift +file=/tmp/tinshift.json

and that doesn't work anymore as `proj_create_crs_to_crs` will f

[2022-04-11 08:56] artemp commented on #4306
@josch :+1:  thanks for highlighting^!  According to proj [docs](https://proj.org/usage/transformation.html?highlight=pipeline#proj-4-x-5-x-paradigm) `cs2cs` is using `proj_create_crs_to_crs` also. Is it possible to modify pipeline init string you mentioned above to work with `cs2cs` (proj9) ?

[2022-04-11 17:22] josch commented on #4306
According to https://github.com/OSGeo/PROJ/issues/3161#issuecomment-1094238124 that string cannot be turned into a crs, so no.

[2022-04-13 05:30] josch commented on #4306
Hi @artemp, I wanted to ask what your plans are. Do you plan to add another codepath that also supports projections that are not a crs? Or do you plan to drop support for non-crs projections with the next release? Thanks!

[2022-04-13 21:12] mathisloge commented on #4306
Just to note: with #4305 minimum proj version is bumpt up to 8.0.0 from 7.2.0

`proj_context_errno_string` was added with proj 8.0.0 https://proj.org/development/reference/functions.html#c.proj_context_errno_string

@artemp this was detected with the docker image PR #4267  since it is using ubuntu 21.04. The new ubuntu LTS 22.04 has currently 8.2.1 (https://packages.ubuntu.com/search?suite=default

[2022-04-14 09:38] artemp commented on #4306
@mathisloge I think we should use `proj_context_errno_string` conditionally  based on `PROJ_VERSION`

[2022-04-14 09:41] artemp commented on #4306
@josch I'm trying to figure out if this is something we can support. It would be super useful to see  `c++` code using `proj_create` to achieve this non-crs `pipeline`  Do you have any pointers?

[2022-04-14 09:57] josch commented on #4306
I filed #4307 to fix this.

I'm afraid I'm a complete proj noob. That's why I asked how to do it in https://github.com/OSGeo/PROJ/issues/3161#issuecomment-1094261749 but as the issue is closed I don't expect a reply.

I also asked the more general question on stackoverflow https://stackoverflow.com/questions/71823105 because all code I've seen so far that migrates to more recent proj versions just

[2022-04-14 13:01] ShapovalovKL opened #4308 "TextSymbolizer not rendering lower parts of lowercase letters near canvas boundary"
Hi, we noticed that some labels (TextSymbolizer) on our map missing lower parts of lowercase letters near metatile boundary.

There seems to be a bug somewhere in text_layout::bounds_ computation:
1) characters glyph_info are loaded from font with ymin and ymax values
2) text_line::height for first line (max_char_height()) computed as maximum glyph_info::height() = ymax() - ymin()
https://github.c

[2022-04-17 16:51] alsaleem00 commented on #4243
@gravicappa , I have same problem.
I did remove -fvisibility=hidden but did not work.
I used to compile mapnik from sources in zip file. But having this problem when i got the code with git.
Thanks.

[2022-04-18 21:42] alsaleem00 commented on #4243
I switched to cmake build and goes well now.

[2022-04-19 03:31] gravicappa commented on #4243
Cmake build doesn't generate `mapnik-config` script which is required for building `python-mapnik`.

[2022-04-20 08:21] artemp commented on #2427
@Andrey-VI
Could you try the following patch to see if it addresses your issue ? This is not a proper solution, I'm just trying to understand the issue. The patch always treats  `` `` (space) character as a potential break point:

[code]

[2022-04-20 08:23] artemp commented on #2427
![text-line-wrap](https://user-images.githubusercontent.com/59056/164184470-bf138d81-af20-4358-b483-7d69e241509d.png)

[2022-04-20 08:34] artemp commented on #4308
@ShapovalovKL thanks for highlighting! It does look like a bug in text bounds calculations in `v3.0.x`.  Have you tried running the same test with `master`?

[2022-04-20 14:12] ShapovalovKL commented on #4308
You can also find this bug on osm if you follow tile boundaies
https://www.openstreetmap.org/#map=16/51.5081/-0.1279
![Capture](https://user-images.githubusercontent.com/52831380/164249718-bfb4d68c-321a-490e-a3d4-d7277c4eb899.PNG)

[2022-04-20 21:14] Andrey-VI commented on #2427
@artemp,
master:
![text-repeat-wrap-character-512-512-2 0-agg-reference](https://user-images.githubusercontent.com/1121499/164318139-4f7fdcd1-a64c-4ffe-9fce-1ea0eddf7d4f.png)
master with the patch:
![text-repeat-wrap-character-512-512-2 0-agg](https://user-images.githubusercontent.com/1121499/164318203-e24b9795-91ce-4f67-bbe1-8383c676e3d9.png)
Looks very promising!
But I believe that the second co

[2022-04-21 13:23] artemp commented on #4308
Probably related issue - https://github.com/mapnik/mapnik/issues/2928

[2022-04-21 13:44] artemp commented on #2427
@Andrey-VI - as I mentioned this is just to clarify what is a desirable output *visually* and not a solution. Extra spaces are occurring because they're treated the same way as a wrap-character (in this case `-`).  To summarise - rendering above minus extra spaces is what you're expecting, right?

[2022-04-21 14:01] Andrey-VI commented on #2427
@artemp, yes, you're right.
In short: ideally, I want the default ICU line breaking (as in the first column) with the ability to repeat `-` on new lines.

[2022-04-22 12:39] mathisloge opened #4310 "[FYI] boost spirit x3 will move to c++17"
https://www.boost.org/doc/libs/develop/libs/spirit/doc/x3/html/index.html

at the bottom it said that boost spirit x3 will move to c++17 with version 1.81

[2022-04-23 17:42] YousefED commented on #4227
Agree this would be useful!

[2022-04-25 06:04] ssavagephd opened #4311 "Error when running C++ demo program: "Cannot initialize proj_transform""
I just installed WSL 2 (windows subsystem for linux) with Ubuntu. After installing all the dependencies at

https://github.com/mapnik/mapnik/wiki/UbuntuInstallation

and following the source installation instructions at

https://mapnik.org/pages/downloads.html

I was able to complete compilation of Mapnik 3.1.0.  When I compiled the C++ demo in /demo/c++ and ran it from that same directory, I get

[2022-04-25 08:11] artemp commented on #4310
@mathisloge thanks for tracking this! We can still allow `c++14` builds with `BOOST_VERSION < 1_81` and bump up requirement to `-std=c++17` by default?

[2022-04-25 14:48] artemp commented on #4308
@ShapovalovKL  https://github.com/mapnik/mapnik/tree/label-bbox - my attempt so far to fix label bounding box calculation. This is WIP as lots of visual tests are failing

[2022-04-28 21:38] alsaleem00 opened #4312 "Compile Mapnik without PostgreSQL/PostGIS support (cmake)"
I would like to compile mapnik without postgis support (to work only with sqlite3)
I am using cmake build.
I got this error
`Could NOT find PostgreSQL (missing: PostgreSQL_LIBRARY
  PostgreSQL_INCLUDE_DIR PostgreSQL_TYPE_INCLUDE_DIR)`

I alread dsabled the PostgreSQL plugin build
`set(USE_PLUGIN_INPUT_POSTGIS OFF)
 set(USE_PLUGIN_INPUT_PGRASTER OFF)`

Do I need to do set something else or modify t

[2022-04-28 21:54] mathisloge commented on #4312
if you have enabled `-DBUILD_TESTING`, you would need to disable it.

I'll look into the unit tests if I can make it optionally, but as a quick workaroud these options should work:

* `BUILD_TESTING=OFF`
* `USE_PLUGIN_INPUT_POSTGIS=OFF`
* `USE_PLUGIN_INPUT_PGRASTER=OFF`
* `BUILD_UTILITY_PGSQL2SQLITE=OFF`

[2022-04-28 21:57] mathisloge commented on #4310
@artemp yep. I think we can default to c++17 in CMake now but support c++14 with `BOOST_VERSION < 1_81`

So one have to set `CMAKE_CXX_STANDARD=14` in the cmake configure step

[2022-04-28 21:58] alsaleem00 commented on #4312
Yes. It does not complain anymore.
Thanks && Thanks for the quick answer too.

[2022-04-28 21:58] #4312 closed

[2022-04-29 15:41] artemp commented on #4310
@mathisloge sounds good!

[2022-05-01 08:05] adamakhtar opened #4313 "Building on Mac M1 can not find several linked libraries"
I am under the impression to build mapnik and mapnik-python I must build both projects from their v3.0.x branches. This means It is not possible to build mapnik-python against a brew installed mapnik as that version is 3.1 ( I have tried but the build python bindings do not work).

So I'm trying to build mapnik from source but I when I run `./configure` on the 3.0.x branch for mapnik several libra

[2022-05-01 20:49] ssavagephd commented on #4311
I have figured out my errors (there were several). Hopefully, the description here will help other newcomers to Mapnik. I used Linux Mint running on VirtualBox on a Windows 11 host.

Installed Linux Mint (xfce) in Windows VirtualBox.

Followed notes at https://github.com/mapnik/mapnik/wiki/UbuntuInstallation to clean old installs and install dependencies:

First, remove any other old mapnik packag

[2022-05-01 20:49] #4311 closed

[2022-05-02 00:48] alsaleem00 opened #4314 "CMake: library paths is not propagted to plugin/util/test build"
I managed to compile mapnik using the cmake build system.
However, when it comes to building plugins/util/test parts, make process stops with
`ld: error: unable to find library -lharfbuzz`
`ld: error: unable to find library -lcairo`
`ld: error: unable to find library -lproj`

I set the variable:
`set(CMAKE_SHARED_LINKER_FLAGS "-L${BDIR}/harfbuzz/lib -L${BDIR}/cairo/lib -L${BDIR}/proj/lib -L${BDIR}

[2022-05-02 04:38] alsaleem00 commented on #4314
export LD_LIBRARY_PATH did not work either.
However, adding
`link_directories(${BDIR}/cairo/lib ${BDIR}/harfbuzz/lib ${BDIR}/proj/lib)`

did it.
Why would plugin/input/sqlite need harfbuzz or proj or cairo ?

[2022-05-02 05:46] mathisloge commented on #4314
If you have non standard installation paths, I'm recommending setting up a cmake Toolchain file. There you specify exactly the same targets of the find package cmake/pkg config generated targets. Furthermore you have to Set `xxx_FOUND` to true, since then the pkg config thing will not overwrite your custom targets.

Because they have a dependency on libmapnik and libmapnik has those public link in

[2022-05-02 10:36] alsaleem00 commented on #4314
Well noted.
But i do not know the right set(xxx_LIBRARY ....) set(xxx_INCLUDE_DIR ....) for each package.
For example
`set(ICU_I18N_LIBRARY_RELEASE ${ICU_LBASE}/libicui18n.so.70.1)`
`set(Boost_FILESYSTEM_LIBRARY_RELEASE ${BOOST_ROOT}/lib/libboost_filesystem.so)`

There no way i can figure out these without looking into Findxxxx.

[2022-05-04 17:46] mathisloge commented on #4314
And your library install dirs haven't any cmake files or pkgconfig files?

[2022-05-04 21:27] alsaleem00 commented on #4314
"Most" of libraries do not have cmake (only configure).
Since I can not use system /usr/lib or /usr/lib/pkgconfig, I can not use pkgconfig files *.pc of these libraries. Isn't it?
Can I use *.pc files in cmake? How?

[2022-05-05 04:52] mathisloge commented on #4314
If you don't move the files manually, harfbuzz and cairo can be found via pkgconf. Usually this file is in your <install path>/lib/pkgconf

For boost etc. the cmake find modules are packaged with cmake itself. Please lookup the paths you need to set in the docs https://cmake.org/cmake/help/latest/module/FindBoost.html

https://cmake.org/cmake/help/latest/module/FindICU.html

PROJ >= 7? But at leas

[2022-05-05 18:50] alsaleem00 commented on #4314
I searched for using *.pc in cmake project but could not find a solution.
I will stick with using **link_directories**
Thanks for your help.

[2022-05-05 18:50] #4314 closed

[2022-05-06 19:10] zdila opened #4315 "Add support for AVIF image format"
Please add support for AVIF image format. AVIF is a modern image format based on the AV1 video format. AVIF generally has better compression than WebP, JPEG, PNG and GIF and is designed to supersede them.

[2022-05-10 23:26] alsaleem00 opened #4316 "Logging/showing Layer name while parsing map xml file."
I converted CyclOSM style to xml using carto. I am using libmapnik in my c++.
Enabled mapnik logger::debug.

While parsing the xml file, mapnik does not show/print what layer it is parsing.
I put a printf statement in the sqlite plugin.

I can see the layer connection open while parsing. However, I had one layer took long to parse but cannot identify which one it is. I have 50+ layers (mix of post

[2022-05-10 23:47] alsaleem00 opened #4317 "Shape plugin looking for *.index file?"
I have converted CyclOSM OSM style to xml file using carto. I am using libmapnik in my c++.
Enabled mapnik logger::debug.

One layer is a shape file configured as:
`  <Layer minimum-scale-denominator="750000" name="land-low" srs="+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over">`
`    <StyleName><![CDATA[land-low]]></

[2022-05-13 10:36] artemp commented on #4315
@zdila - I'll look into adding support for AVIF in the future, thanks.

[2022-05-13 10:37] artemp commented on #4316
@alsaleem00 - thanks for the suggestion. Should be doable, I'll take a look.

[2022-05-13 11:36] #4316 closed

[2022-05-24 06:48] shanti-tripathy-impledge opened #4318 "mapnik installation on Windows giving C++14 standard issue with clang or g++"
I followed the steps mentioed in https://mapnik.org/pages/downloads.html to install mapnik from source.

I have clang version 14. I also have g++ version 6.3.0. But when I am trying to install mapnik on Windows, it says "C++ compiler does not support C++14 standard (-std=c++14), which is required. Please upgrade your compiler"

$ ./configure CXX=clang++-14 CC=clang-14
scons: Reading SConscript fil

[2022-05-25 08:09] shanti-tripathy-impledge commented on #4318
Hi,
Well, I started trying with vcpkg. I was able to install mapnik and other supporting libraries like boost etc.. But the sample C++ code present in mapnik needs some more libraries like Qt etc...
When I tried
c:\src\vcpkg>vcpkg install qt5
It failed with:
error: building qt5-base:x64-windows failed with: BUILD_FAILED

Building qt5-base[core]:x64-windows...
-- Figuring out qt target mkspec. Targ

[2022-05-26 13:20] shanti-tripathy-impledge commented on #4318
I finally managed to download the qt binaries as well using vcpkg install qt5. The issue was that there was insufficient space in my disk. So I moved it to D:/ where there was space and this time it was able to download.

However, I am not sure of the next steps. Like, I know I need to import/include these binaries in my C++ code. But when I look for sample code for C++ in Mapnik, I get pre-requis

[2022-05-26 16:09] mathisloge commented on #4318
It depends on what you want to accomplish.
If you have a C++ project and want to consume mapnik. You would need to install mapnik with the cmake install target.
Then you can just use CMake`s find package calls to resolve mapnik. See https://github.com/mapnik/mapnik/blob/master/docs/cmake-usage.md#usage

If you want to build mapnik-python or node-mapnik, it is currently not really possible on windo

[2022-05-27 12:32] shanti-tripathy-impledge commented on #4318
Ok, I will try to implement cmake project using your project as sample... will ask you if I am stuck anywhere.
Thanks..

[2022-06-03 09:37] gnbl opened #4319 "Ubuntu 22.04 LTS build fails in Unicode test"
The build fails with

`test/unit/text/script_runs.cpp:8:34: error: no matching constructor for initialization of 'mapnik::value_unicode_string' (aka 'icu_58::UnicodeString')
`

I have a fresh install of Ubuntu 22.04 LTS and tried to follow https://github.com/mapnik/mapnik/blob/master/INSTALL.md and https://github.com/mapnik/mapnik/wiki/UbuntuInstallation **however** I am using current Ubuntu packa

[2022-06-03 10:55] gnbl commented on #4319
It appears Ubuntu has Mapnik as a package: https://switch2osm.org/serving-tiles/manually-building-a-tile-server-ubuntu-22-04-lts/

[2022-06-03 11:11] hholzgra commented on #4319
Ubuntu has Mapnik as a package, but due to the Proj library version changes the Mapnik package in 22.04 LTS does not have Proj support compiled in, and so is pretty much useless :(

(or at least it was in one of the final pre-releases I tested)

And the new version that has support for more recent Proj versions in it didn't make it in time for 22.04LTS, so right now the options are to either stay

[2022-06-03 11:25] gnbl commented on #4319
After trying to compile from source and then following the instructions linked above, I now have what appears to be a working tile server.
But I am still interested in how to fix whatever is causing the Unicode string type test to fail.

[2022-06-25 08:45] BjoernRuff opened #4320 "compile fails on opensuse 15.4"
It allways ends up with following:

/usr/lib64/gcc/x86_64-suse-linux/11/../../../../x86_64-suse-linux/bin/ld: src/libmapnik.so: undefined reference to `boost::filesystem::path::find_root_directory(                          ) const'
/usr/lib64/gcc/x86_64-suse-linux/11/../../../../x86_64-suse-linux/bin/ld: src/libmapnik.so: undefined reference to `boost::filesystem::detail::dir_itr_imp::~dir_

[2022-06-25 14:06] BjoernRuff commented on #4320
solved:  compiled boost wite filesystem v3 , then it worked

[2022-06-26 12:47] BjoernRuff opened #4321 "building mapnik cpp 3.1.0 app"
I get following compile error:
In file included from /usr/local/include/mapnik/attribute.hpp:28,
                 from /usr/local/include/mapnik/symbolizer_base.hpp:34,
                 from /usr/local/include/mapnik/rule.hpp:28,
                 from /usr/local/include/mapnik/agg_renderer.hpp:30,
                 from generate.cpp:26:
/usr/local/include/mapnik/value.hpp: In instantiation of ‘mapn

[2022-06-30 12:00] lebtorte opened #4322 "mapnik on Windows10"
Hello, I am very new to the whole mapnik topic and tried to install mapnik togehter with the python bindigs on a windwos 10 machine. Unfortunatelly without any success. I followed the windows installation guide but it does not work. I read some articles that mapnik is no longer supported at windows at all. Is this correct? I allways get the error: Module not found error: No module found named mapn

[2022-06-30 17:12] pietervdvn opened #4323 "Partial rendering of a road name"
Hi,

After years of browsing OSM.org, I finally noticed a glitch:

On [this location](https://www.openstreetmap.org/#map=17/50.86146/4.35644) (zoom 17) one tile has the name, another tile doesn't, resulting in ugly rendering:

![image](https://user-images.githubusercontent.com/1466478/176737483-bad8614f-e442-4db4-a38d-baa0ea4f20ef.png)

[2022-07-01 13:34] #4323 closed, assigned to nobody

[2022-07-06 06:41] prusswan commented on #4322
To build the **current master** for Windows, the easiest way is to go with [vcpkg](https://github.com/mapnik/mapnik/blob/master/INSTALL.md#vcpkg). There is also https://github.com/mapnik/python-mapnik/pull/242 if you want the Python bindings as well (this is not merged into the official repo yet, so you will have to build the fork)

Can't comment on [the old non-vcpkg method](https://github.com/ma

[2022-07-06 11:47] BjoernRuff commented on #4322
Since I didn't succeed building mapnik on OpenSuse, i tried on windows using vcpkg.
But I always get an error : Package proj4 does not have a database feature .
Anyone an idea?

[2022-07-06 11:57] mathisloge commented on #4322
Looks like your vcpkg is outdated. The proj4 database feature was removed several month ago.

Update vcpkg by:
[code]

Then you should be able to compile mapnik simply by typing `vcpkg install mapnik`

[2022-07-06 15:24] BjoernRuff opened #4324 "using mapnik build on Opensuse"
I have an old app (c++) using mapnik to do some rendering .
When compiling I always run into 2 errrors

/usr/local/include/mapnik/mapbox/variant.hpp:598:15: error: no type named ‘type’ in ‘struct std::enable_if<false, void>’
  598 |               typename Enable = typename std::enable_if<Traits::is_valid && !std::is_same<variant<Types...>, typename Traits::value_type>::value>::type >

and

In file

[2022-07-07 11:42] prusswan opened #4325 "vcpkg build generates incomplete viewer.ini (missing key: fonts/size)"
https://github.com/mapnik/mapnik/blob/14f913d6ab3b0903dd36a1cb2d22f7d5493b8bb8/demo/viewer/CMakeLists.txt#L54-L59 (compare the above with the behavior in [build.py](https://github.com/mapnik/mapnik/blob/master/demo/viewer/build.py))

**Example of a working viewer.ini:**
[code]

The `fonts/size` key is required for `register_fonts` to work as intended:
https://github.com/mapnik/mapnik/blob/1ba1278b

[2022-07-07 12:14] NasNasingud commented on #4319
I am also very interested in solving this problem. As @hholzgra mentioned above, using the Ubuntu package in 22.04 is unfortunately not an option (at least at the moment), and building from source fails with this Unicode error. It seems currently I am not able to install Mapnik on my fresh 22.04 machine...

[2022-07-08 03:59] trustmiao opened #4326 "alpha value in rgba not working in RasterColorizer"
Hi, we noticed that color rgba doesn't work in rastercolorizer as it should be.
we created the following rule in xml
`<Rule>

      <RasterSymbolizer opacity="0.5">
        <RasterColorizer   default-mode="discrete" >
          <stop color="red"    value = "1"  />
          <stop color="orange"    value = "500"  />
          <stop color="yellow" value = "1000" />
          <stop color="rgba(255,25

[2022-07-08 08:10] zy6p commented on #4326
Incredible. mapnik::color is rgba-enabled.
Source code is in `include/mapnik/color.hpp`
[code]

[2022-07-10 12:46] benboughton1 commented on #4319
I had issues with Mapnik on Ubuntu 22. I had a freelancer figure it out and create a build script. Here is the script he came up with. Had to revert to proj7.
This worked for me. Please contact him through the link in the script if you have issues and pay for his time.

https://gist.github.com/benboughton1/e38ba6d53e46e668ffe21b1cd478397f

[2022-07-13 08:37] Sieboldianus opened #4327 "Use of Emoji from Shapefile in TextSymbolizer rendered as rectangles"
**Context:** I am trying to implement a specific Tag Maps rendering (https://github.com/Sieboldianus/TagMaps) in Mapnik

My first test works fine, as long as I do not try to plot Emoji characters on the map.

- **[Sample Shapefile](https://cloudstore.zih.tu-dresden.de/index.php/s/Lw9qy7kAAnGCHSb/download)**

**Shapefile Fields:**
- `[ImpTag]` - the label for polygons to be placed on the map
- `[We

[2022-07-13 15:54] Apteryks opened #4328 "libpq.fe"

[2022-07-13 15:55] #4328 closed

[2022-07-13 16:49] Apteryks opened #4329 "mapnik fails to build with boost 1.77, either 3.1.0 or latest"
Hello,

I'm trying to update mapnik in Guix, but I haven't been able to build it.

Here's an excerpt of the failed build when using the latest commit:
[code]

If I use the latest release instead (3.1.0), I get:
[code]

What is the secret ingredient I'm missing for a successful build? :-)

The direct dependencies used are:
[code]

[2022-07-14 06:28] lebtorte commented on #4322
I built mapnik with vcpkg successfully. Now I am trying to run the demo that comes with mapnic called rundemo.cpp. But i always get the same error:

LNK2019	Verweis auf nicht aufgelöstes externes Symbol ""__declspec(dllimport) class std::shared_ptr<class mapbox::util::variant<struct mapnik::value_null,bool,int,double,class icu_71::UnicodeString,struct mapnik::attribute,struct mapnik::global_attrib

[2022-07-14 07:46] mathisloge commented on #4322
@lebtorte I need a bit more info.
especially how you include mapnik in your console application.
If you use msbuild, I can't help you that much. Make sure that the library is included correctly.
If you use cmake, it would be helpful if you could share the CMakeLists.txt

[2022-07-14 18:59] nmaludy opened #4330 "CMake build doesn't generate mapnik-config"
I know the CMake build is new, however it does not generate mapnik-config that is need by mod_tile+renderd.

Ideally `mapnik-config` would be generated an installed during the CMake build.

[2022-07-15 09:29] mathisloge commented on #4330
I have this on my plan and actually started with it https://github.com/mapnik/mapnik/pull/4256
But I had serious issues generating the file with cmake and had hoped, that pkgConfig would be enough

[2022-07-15 10:43] Sieboldianus commented on #4327
Closing this issue. It was a problem with my data, not with Mapnik.

Note to myself: Always create a minimal reproducible example.

<details><summary>Minimal reproducible example</summary>

emoji_sample.xml
[code]

[code]

</details>

.. the example above returned emoji from Mapnik just fine:
![image](https://user-images.githubusercontent.com/13646666/179207615-ca601f1d-5d72-4b69-9108-70c4abeaf1ad

[2022-07-15 10:43] #4327 closed

[2022-07-18 07:47] trustmiao commented on #4326
with further test, we hereby verified, it is working. The mistake we made is alpha is input as 150, not 0.5, while we report issue, we are looking at different xml for render input. Great work mapnik!

[2022-07-18 07:47] #4326 closed

[2022-07-20 08:58] NasNasingud commented on #4319
Thanks @benboughton1, the way described in the build script via debuild worked also for me!

[2022-07-21 11:43] Sieboldianus opened #4331 "Use of advanced functions/math in XML expressions (e.g. transform/PointSymbolizer and format/TextSymbolizer)"
I have a stylesheet that uses expression language to symbolize Points and Text based on values in a field.

For exmaple:
[code]

The circle size is mapped to the field `[Join_Count]`.

Similar can be done for `TextSymbolizer` using the `<Format />` tag:
[code]

Here, the text size is calculated from the field `[ImpTag]`, based on the expression `6+[Weights]*0.18">[ImpTag]`.

**Issue:**

I would li

[2022-07-21 23:00] brokenarrows commented on #4313
Incase anyone else is facing this issue. This is because in **SConstruct** it is checking whether PROJ is installed.
However since version 8.0+ this dependency has been removed and thus it fails.

`// This is narly, could eventually be replaced using https://github.com/OSGeo/proj.4/pull/551]
#include <proj_api.h>`

If you want to by pass the check, on line 1467, comment this section:

`if env['PRO

[2022-07-24 10:00] trustmiao opened #4332 "Is it possible to render a composite RGB each channel from different geotiff"
while making sar image, The composite RGB (colour) image was create d using the VV channel for red, VH channel for green and the ratio |VV| / |VH| for blue. commonly, VV channel and VH channel each will be a single band int32 geotiff, which could each be rendered with RasterColorizer. but is it possible to render one composite RGB from two sources.

here is an example, left and center are two sour

[2022-08-14 01:46] masa126 opened #4335 "failed to initialize projection with: '+init=epsg:4326'"
Hi,

When I invoked generate_xml.py scriped in openstreetmap/mapnik-stylesheets repositry, it failed to generate xml file for my database on a Windows machine with mapnik 2.2.0. , python 2.7, postGres 9.6.
The error messages are
Traceback (most recent call last):
  File "generate_xml.py", line 204, in <module>
    serialize(template_xml,options)
  File "generate_xml.py", line 80, in serialize

[2022-08-15 13:18] mathisloge commented on #4325
I'll take a look 👍

[2022-08-16 13:08] #4325 closed

[2022-08-17 09:31] thorsten1878 opened #4337 "Register PostGIS datasource"
In windows it is not possible to register postgis datasource in c++. The following line of code: mapnik::datasource_cache::instance().register_datasources(R"([Path to input folder]");
produces the error message: .... \postgis.input (dlopen failed - plugin likely has an unsatisfied dependency or incompatible ABI)
By the way it is the same for gdal, ogr and pgraster.
Csv, geobuf, geojson, raster, sh

[2022-08-17 10:12] mathisloge commented on #4337
You are missing a dll in the program path. You need to inspect your application which dll is missing.

[2022-08-17 11:15] thorsten1878 commented on #4337
Thanks that solved the problem

[2022-08-17 11:16] #4337 closed

[2022-08-17 11:16] thorsten1878 commented on #4337
Solved

[2022-08-17 16:15] mathisloge commented on #4322
Sorry, I can't help you that much with your setup. I recommend checking you visual studio settings, vcpkg setup or using cmake.

[2022-08-17 16:15] #4322 closed

[2022-08-17 16:16] mathisloge commented on #4329
Have you tried it with the cmake build?

[2022-08-17 16:16] mathisloge commented on #4320
closed because of solved

[2022-08-17 16:16] #4320 closed

[2022-08-17 16:17] mathisloge commented on #4317
there is a utlity program included in mapnik https://github.com/mapnik/mapnik/tree/master/utils/shapeindex to index shapefiles

[2022-08-17 16:18] mathisloge commented on #4321
duplicate to #4320

[2022-08-17 16:18] #4321 closed

[2022-08-18 10:52] #4317 closed

[2022-08-18 10:52] alsaleem00 commented on #4317
Thanks @mathisloge

[2022-08-18 11:55] mathisloge commented on #4319
Will setup a test build with ubuntu22.04 to check why proj 8 is related to the failure. Current tests with proj9 are not failing

[2022-08-19 15:14] mathisloge opened #4339 "[Idea] pull agg out"
@artemp

I think it would be benefitical to pull agg out of the source code and put it into its own repository. E.g. mapnik/agg.
We could use the original commit history from agg itself http://agg.sourceforge.net/antigrain.com/index.html and then use the commit history of mapnik and apply it to the original source code.

It would enable others to use the agg code as a independent code and would ma

[2022-08-21 21:44] brad0 opened #4340 "mapnik 3.1.0 not building with Boost 1.80"
Trying to build mapnik 3.1.0 with Boost 1.80 is failing as so..

[code]

[2022-08-22 07:23] mathisloge commented on #4340
latest mapnik shouldn't have those issues. Can you use the latest mapnik?

[2022-08-22 07:47] brad0 commented on #4340
I substituted in the latest git clone and am now seeing..

[code]

[2022-08-22 07:54] mathisloge commented on #4340
You have to clone the submodules. E.g. with `git submodule update --init --recursive`

[2022-08-22 08:49] artemp commented on #4339
@mathisloge good idea ^^ . So are you thinking adding agg as a submodule? Lets coordinate how best to accomplish this :+1:

[2022-08-22 09:09] mathisloge commented on #4339
Either as a submodule or we add a correct installation cmake logic to the agg library. And then it can just be found with `find_package(agg CONFIG required)`.

[2022-08-22 11:34] vipul43 opened #4341 "Compatible version of python-mapnik for mapnikv3.1.0 to map bindings to python3"
- After lot of troubles I was able to successfully build and install `mapnikv3.1.0` on my `OpenSuse Leap 15.4`.
![mapnikv3 1 0_build](https://user-images.githubusercontent.com/60428963/185910999-7cf5b275-22a1-410e-ba16-13d7da864ecc.png)
![mapnikv3 1 0_install](https://user-images.githubusercontent.com/60428963/185911016-dfdd18ae-8497-43ef-9310-408f45f5aaf1.png)
![mapnikv3 1 0_version](https://user

[2022-08-22 12:45] artemp commented on #4339
@mathisloge I think we should stick to submodule as `find_package` might find system libagg which is not going to work as expected.  On `Ubuntu 22.04` I get -

[code]

[2022-08-22 13:01] artemp commented on #4339
Sounds good

[2022-08-23 19:16] HoangAlain64 commented on #4335
Hello,
I do have the same issue on RHEL 7.9 with "make test".
environment is RHEL 7.9, postgres 9.6, Boost 1.69, python 3.6, mapnik 3.0.24.

`
[osm@toto mapnik]$ make test
* Starting Mapnik tests
* Running C++ Unit tests...
psql (PostgreSQL) 9.2.24
Password:
Password:

[code]

[2022-08-23 23:44] HoangAlain64 commented on #4335
OK, I fixed the issue by installing more packages:
`  boost.x86_64 0:1.53.0-28.el7          boost-devel.x86_64 0:1.53.0-28.el7          bzip2-devel.x86_64 0:1.0.6-13.el7          pandoc.x86_64 0:1.12.3.1-2.el7          proj-epsg.x86_64 0:4.8.0-4.el7
  cabextract.x86_64 0:1.9-7.el7                       gdal.x86_64 0:1.11.4-4.el7                       pycairo.x86_64 0:1.8.10-8.el7

[2022-08-24 10:37] vipul43 opened #4342 "Cannot render SVG images using python-mapnik."
- Below is the code of discussion. (Context: built and installed mapnikv3.1.0, python-mapnikv3.0.x for simple map generation)
[code]
- The code works fine when generating jpeg, png, tiff and webp images. But during the generation of SVG images below error pop up.
[code]
- I think that there is some kind of plugin needed for svg formats but I have installed cairo for that purpose only, it doesnot s

[2022-08-24 13:34] #4335 closed

[2022-08-24 18:29] mathisloge commented on #4339
Would you like to create the repo? I'll then move the original source code to it and afterwards apply the modified code from mapnik 👍

[2022-08-24 19:13] rapto commented on #4232
I just installed ubuntu 22.04 and my program chokes on proj support. This is the bug I filed: https://bugs.launchpad.net/ubuntu/+source/mapnik/+bug/1987559

Please let me know if there is a guide to installing mapnik with proj support on ubuntu 22.04. Could I just re-compile a newer version of mapnik, if the problem is already solved?

[2022-08-24 19:26] mathisloge commented on #4232
Latest mapnik master has a dependency on proj >7.
So proj8 and proj9 should be fine.

[2022-08-25 03:07] brad0 commented on #4340
Ok, that helped. But after bumping up to the latest code I am still seeing the same error.

[2022-08-25 16:54] artemp commented on #4339
@mathisloge Sure, I'll do it tomorrow and ping you.

[2022-08-26 05:37] mathisloge commented on #4340
I don't see any related breaking changes in https://www.boost.org/users/history/version_1_80_0.html . Could you verify that `/usr/local/include/boost/geometry` is the 1.80 boost version?

If yes, you could try the cmake build instead of the SCons one. https://github.com/mapnik/mapnik/blob/master/docs/cmake-usage.md

[2022-08-26 08:21] artemp commented on #4339
https://github.com/mapnik/agg
@mathisloge should be good to go

[2022-08-26 15:26] mathisloge commented on #4339
Nice, thanks. 👍 Will do it on sunday

[2022-08-26 23:00] mdubepsi commented on #4322
@lebtorte Did you find anything, I'm running into a very similar issue, also using vcpkg.

[2022-08-26 23:40] mdubepsi commented on #4322
@lebtorte, in case you didn't find or for others.  Some defines are to be manually added in a vcxproj.  If using cmake, the find_package will pick up defines from `vcpkg_installed\x64-windows\share\mapnik\mapnikTargets.cmake`:
[code]

Add those to your project file and the linker errors should go away.

[2022-08-27 00:35] brad0 commented on #4340
Yes, it is from the 1.80 release.

I tried doing a conversion to CMake for our port and I am still seeing the same error.

[2022-08-27 08:52] mathisloge commented on #4340
Okay. Thanks for testing. I will take a look at Sunday or on Monday

[2022-08-29 13:45] artemp commented on #4340
@brad0 @mathisloge - FYI, I can replicate this issue on `ubuntu 22.04` + `boost_1_80`
I have a simple fix

[code]
but I'd like to understand a bit more why `boost::geometry::equals(multi_line_string, multi_line_string)` is broken before pushing changes.

[2022-08-29 15:20] brad0 commented on #4340
That indeed allows the build to complete.

[2022-08-30 06:11] DinleyGitHub opened #4343 "The lables of road line keep upright."
![Uploading image.png…]()
We want the text be flipped vertically to prevent it from being rendered upsidedown.  The below picture is perfect, but we do not get in mapnik 3. Who can give some adivces , thank you very much!
![Uploading image.png…]()

[2022-08-30 09:19] sommerluk commented on #3931
[testcase.zip](https://github.com/mapnik/mapnik/files/9451547/testcase.zip)

# Testcase description
This testcase contains as data only a shapefile that contains a single point.
The “name” field of the single point in the shapefile contains a string
of three Unicode code points, in this order:

  * U+0628 ARABIC LETTER BEH
  * U+200C ZERO WIDTH NON-JOINER
  * U+0627 ARABIC LETTER ALEF

The style i

[2022-08-30 09:42] artemp commented on #4340
@brad0 - closing as fixed in https://github.com/mapnik/mapnik/commit/81103491b467e17218140f50bc0bb9dc8c1f0317

[2022-08-30 09:42] #4340 closed

[2022-08-30 14:24] brad0 commented on #4340
Thanks.

[2022-08-31 20:07] mark-schumann opened #4344 "AttributeError: module 'mapnik' has no attribute 'Projection'"
Hello Support Team at GitHub:
I recently downloaded and opened (with a trial version of WinZip) mapnik-v3.1.0.

I am trying to run a program, nik4.py -h, in my Windows 10 system to
check my setup, as follows...

C:\Users\marks>py C:\Users\marks\AppData\Local\Programs\Python\Python39\Scripts\nik4.py -h
Traceback (most recent call last):
  File "C:\Users\marks\AppData\Local\Programs\Python\Python39\

[2022-09-05 14:41] zaa76 opened #4345 "PGRaster plugin work not correct"
![photo_2022-09-05_17-32-19](https://user-images.githubusercontent.com/10848270/188472355-ddb7155c-3ba1-4e57-9668-0ccc830f681e.jpg)

Left in QGIS, Right Mapnik

My version Mapnik is 3.0.22

gdalinfo shade.tif

Driver: GTiff/GeoTIFF
Files: ukraine.shade.tif
Size is 105386, 70317
Coordinate System is:
PROJCRS["WGS_1984_Web_Mercator_Auxiliary_Sphere",
    BASEGEOGCRS["WGS 84",
        DATUM["World Ge

[2022-09-07 11:34] thorsten1878 opened #4346 "std::bad_alloc exception on Win 10"
I get a bad alloc exception for bigger map sizes. For example a map width the folowing dimensions:

mapnik::Map m(23277, 32000);
mapnik::image_rgba8 im(m.width(), m.height());

produces the error.

Smaller maps like (5000,5000) work well.

[2022-09-07 12:40] mathisloge commented on #4346
Do you have enough ram available?

[2022-09-07 12:45] thorsten1878 commented on #4346
32GB

[2022-09-07 13:09] mathisloge commented on #4346
maybe related to https://github.com/mapnik/mapnik/issues/4146

[2022-09-07 13:10] mathisloge commented on #4346
can't you just make four images with smaller dimension and stich them together?

[2022-09-08 06:45] thorsten1878 commented on #4346
(it should be default if you compile for x64).
Is there a 64 bit version of mapnik?

[2022-09-08 06:48] mathisloge commented on #4346
If you compile mapnik for x64, then yes.

[2022-09-08 13:12] thorsten1878 commented on #4346
Ok, i compiled the x64 version now. But unfortunatelly there is a problen that mapnik cannot find any fonts specified in the xml file now. Never had this problem in x86 version. Is there something special in the x64 version regarding fonts?

[2022-09-08 13:15] mathisloge commented on #4346
No. That's the same. Double check if the passed paths are really existing. E.g. If you use relative paths, check from your current working dir (	it's the console path, not the location of the executable)

[2022-09-08 13:43] thorsten1878 commented on #4346
I have to use libxml2 instead of rapidxml. Fonts are working now on x64. And bad alloc error is also solved in x64 version. Many Thanks for your help

[2022-09-08 13:43] #4346 closed

[2022-09-12 20:09] Apteryks commented on #4329
I haven't; the latest 3.1.0 release lacks a CMakeLists.txt file.

[2022-09-13 00:22] Apteryks commented on #4329
Using the latest commit, it seems to detect boost fine, but now I have a new problem:
[code]
  The build system insists on fetching catch2 from the web, although I've provided it with a system-provided package.

[2022-09-13 05:36] mathisloge commented on #4329
If you are working in a offline setup, you need to specify some cmake variables:
https://cmake.org/cmake/help/latest/module/FetchContent.html

* `FETCHCONTENT_FULLY_DISCONNECTED=ON`
* `catch2_SOURCE_DIR=<location to catch2>`
* `catch2_BINARY_DIR=<location to catch2 cmake binary dir>`
* `catch2_POPULATED=ON`

[2022-09-14 04:01] Apteryks commented on #4329
Thanks for pointing the doc, the build got farther with this patch, which uses a very recent feature making the above variables obsolete:
[code]

Or in Guix's language, Scheme:
[code]

I needed the submodules in the checkout for the mapbox dependencies and test data (I'll try making separate packages for the mapbox things later), and the above extra include directive so the test `#include catch2.h

[2022-09-16 00:20] Apteryks commented on #4329
For now I've marked the `ogr` test as expected to fail with
[code]
And pushed the fixed package to the Guix repo.

[2022-09-22 08:33] zdila opened #4347 "simplify-algorithm="radial-distance" modifies ends of the lines"
I think that radial-distance should not modify start and end of the line, but in Mapnik it does.

without simplification:

![image](https://user-images.githubusercontent.com/636095/191698550-31cea44c-cf12-40c1-a978-db8697548afd.png)

with simplification:

![image](https://user-images.githubusercontent.com/636095/191698697-54eacd0d-55f1-4d02-ae08-fb90e6fa9058.png)

[2022-09-22 10:29] artemp commented on #4347
@zdila can you post minimal data to replicate this behaviour, Ideally, XML style with inline geojson ?

[2022-09-22 10:57] zdila commented on #4347
It seems only end of the line is affected.

[code]

Original:

![image](https://user-images.githubusercontent.com/636095/191729084-ced44bca-0134-42a1-be90-6c17a3b6e7ed.png)

Simplified:

![image](https://user-images.githubusercontent.com/636095/191729180-643a5889-d1db-4f37-81b1-844cc5c11d25.png)

[2022-09-22 13:34] artemp opened #4348 "`simplify_converters_test` hasn't been ported to `catch`"
https://github.com/mapnik/mapnik/commit/d40fb04284ef5c6e6a423b16dc17f980fb204298#diff-c281ad71b417fe25ac3fb3727d1e8f409777bf2cb334c4b3618b79975a6565ee

[2022-09-22 13:35] artemp commented on #4347
https://github.com/mapnik/mapnik/issues/4348 <-- related

[2022-09-22 18:37] zdila opened #4349 "Add support of `segmentize` parameter to every symbolizer that supports simplification and smoothing"
Add support of `segmentize="<number>"` attribute to every symbolizer that supports simplification and smoothing. See https://postgis.net/docs/ST_Segmentize.html.

Reason: If a line is simplified then it looses too many points for its straight parts which causes it to become severely smoothed if `smooth` is used.

Order should be:
1. simplify
2. segmentize
3. smooth

Current workaround is to do it

[2022-09-23 08:45] artemp commented on #4347
@zdila Closing as fixed. Re-open if you see any issues, thanks.

[2022-09-23 08:45] #4347 closed

[2022-09-23 08:45] artemp commented on #4348
Fixed

[2022-09-23 08:45] #4348 closed

[2022-09-23 19:06] zdila opened #4350 "Allow relative size in <Placement size="...">"
Allow relative size in `<Placement size="...">` in percents. This relative size would be applied to parent `<TextSymbolizer size="...">` and to all children `<Format size="...">` elements to scale them together.

[2022-09-23 19:22] zdila opened #4351 "TextSymbolizer with horizontalAlignment="adjust" and Format fails to display anything in some cases"
Testcase:

[code]

Result:

![image](https://user-images.githubusercontent.com/636095/192041772-202449a0-af00-42cd-8dd2-5438d30f6823.png)

If I replace `"Česko\n"` with `" Česko \n"` (or some different longer text) then text appears:

![image](https://user-images.githubusercontent.com/636095/192041997-93885c06-8a6b-49f0-ae51-1522ee09f02d.png)

Also if I remove `<Format...` then I see the text disp

[2022-09-24 06:32] zdila opened #4352 "Add `transform` option to `GroupSymbolizer`"
Please add `transform` option to `GroupSymbolizer` which should work the same way as in `MarkersSymbolizer`.

`GroupSymbolizer` could maybe use even more options from `MarkersSymbolizer`, like `multi-policy`, ...

In my case I would like to replace some `MarkersSymbolizer`s with `GroupSymbolizer`s to allow local icon overlapping as I want to compose an icon from multiple SVG files according to fea

[2022-09-26 21:33] mnurzia opened #4353 "Labels are sometimes squashed when using TextSymbolizer with placement="line""
When rendering small road labels using a TextSymbolizer and `placement="line"`, sometimes the spacing between characters is so small that the labels are unreadable (font used is SF Pro, but the same results were observed with DejaVu Sans Bold and other default fonts)

<img width="175" alt="image" src="https://user-images.githubusercontent.com/7797957/192384068-29c629b5-41d2-4e85-bfcb-f38638c6505f.

[2022-10-04 00:07] hholzgra opened #4354 ""unable to find face-name in fontset" log warnings are actually errors"
I originally logged this as mapnik/python-mapnik#226, but it turned out to actually be a general problem, and not Python binding specific. So re-filing it here.

Failure to find a specific font for a fontset face name logs warnings like

[code]

Given that the messages print `warning: ...` I tried to filter them out by setting the logger severity_level to `Error`, but I was still getting them. Onl

[2022-10-04 11:53] artemp commented on #4354
@hholzgra - sounds like oversight, thanks for reporting.

[2022-10-05 08:56] thorsten1878 opened #4355 "Create worldfile"
Is it possible to create a worldfile in c++ like the way it is created in nik2img.py if you use the --world-file parameter?

[2022-10-07 05:35] zdila opened #4356 "Allow expressions in `replace` function arguments."
Currently this fails to parse:

`[name].replace([regex], [replacement])`

[2022-10-11 11:01] #4355 closed

[2022-10-11 11:03] thorsten1878 commented on #4355
Did not found a method so i did it with the followig code:

        mapnik::box2d<double> envelop = m.get_current_extent();
        double x_rotation = 0.0;
	double y_rotation = 0.0;

	double pixel_x_size = (envelop.maxx() - envelop.minx()) / m.width();
	double pixel_y_size = (envelop.maxy() - envelop.miny()) / m.height();
	double upper_left_x_center = envelop.minx() + 0.5 * pixel_x_size + 0.5 * x

[2022-10-18 08:50] #4137 closed

[2022-10-18 12:58] artemp commented on #4354
@hholzgra closing as fixed

[2022-10-18 12:58] #4354 closed

[2022-10-19 08:24] zdila commented on #4349
Variables should actually be supported in SQL escaped by `!`: `!@variable`

[2022-10-21 21:10] StyXman opened #4358 "'Ignored' TIFF"
I've been generating hill shades with Blender (shiny! beautiful!). Blender saves to TIIF, but it's not georeferenced, so I use `gdal_edit.py -a_srs EPSG:3857 -a_ullr ...` to copy the boundaries from the original DEM (yes, it's already in WebMerc, so it's not a 'wrong SRS' issue).

Now, QGIS opens the shades fine, and they align with two other TIFFs derived from the same DEM (slope and hypsometric)

[2022-10-21 21:48] the-dias opened #4359 "fatal error: mapbox/variant.hpp: No such file or directory"
Got an error after doing all the steps from the installation [guide](https://github.com/mapnik/mapnik/blob/master/INSTALL.md)  when run demo/c++ program.

I found a similar problem, did what was suggested there, but it did not help #3246

[2022-10-22 14:38] StyXman commented on #4358
Sorry for the noise, the tiff was saved as 16bits, while the style expects 8bits. The values were too high so the expected effect was completely lost.

[2022-10-22 14:38] #4358 closed

[2022-10-27 11:02] BUTUNSUBHA opened #4360 "Error found during compilation of ssh-Aerosol."
Hello everyone,
when I am trying to compile the ssh-Aerosol program . I am finding the error as follows. can anyone kindly help me to solve this issue.
![Screenshot (35)](https://user-images.githubusercontent.com/116419891/198267619-32e27989-9c52-47e9-b844-267d95b5bd83.png)

collect2: error: ld returned 1 exit status
scons: *** [ssh-aerosol-cb05] Error 1
scons: building terminated because of error

[2022-10-27 14:19] hholzgra commented on #4360
Are you *sure* that you filed this on the correct project?

Looks as if this would rather belong to https://github.com/sshaerosol/ssh-aerosol and not mapnik/mapnik ?

[2022-10-27 19:38] #4360 closed

[2022-11-03 17:48] artemp opened #4361 "'sprintf' is deprecated"
[code]

[2022-11-04 14:12] artemp commented on #4361
closing as fixed

[2022-11-04 14:12] #4361 closed

[2022-11-11 13:57] mathisloge opened #4362 "update vcpkg in ci"

[2022-11-16 14:34] artemp opened #4363 "SVG - `<g>` opacity is not handled correctly"
The **opacity** attribute specifies the transparency of an object or of a group of objects, that is, the degree to which the background behind the element is overlaid.

 (https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/opacity)

`opacity` attribute requires special considerations when processing SVG document.

### Example
[code]
#### Current (incorrect) rendering

![test](https://user-i

[2022-11-18 15:21] artemp commented on #4363
https://github.com/mapnik/mapnik/tree/svg-group-render - initial group/element `opacity` implementation

TODO:
* Fix unit + visual tests
* Better names

[2022-11-18 15:32] artemp commented on #4363
[code]

![image](https://user-images.githubusercontent.com/59056/202741567-8ef41d42-5937-4be4-90b7-11893025127b.png)

[code]
![image](https://user-images.githubusercontent.com/59056/202740662-38994c63-64ba-418f-b142-72e1e00255c3.png)

[code]
![image](https://user-images.githubusercontent.com/59056/202740359-a1b6582e-1ada-4848-adf1-3670ce59987e.png)

[code]
![image](https://user-images.githubuserco

[2022-11-22 11:29] mathisloge commented on #4362
@artemp could you check if the VCPKG_CACHE_PAT is still valid? I'm already getting auth errors.

[2022-11-22 12:45] artemp commented on #4362
`Expires on Sun, Dec 25 2022.`   hmm.. not sure what changed. What errors do you get?

[2022-11-22 12:48] artemp commented on #4362
`Fine-grained personal access tokens (beta)` - aha, perhaps this is the reason. I'll generate new token in a few minute ..

[2022-11-22 13:02] mathisloge commented on #4362
`One or more NuGet credential providers failed to authenticate`.
Might be possible, that `Fine-grained personal access tokens (beta)` resolve this

[2022-11-22 13:06] mathisloge commented on #4362
[code]

thats the full error message. Maybe also check the repo https://github.com/mapnik/gh-actions-test if the `VCPKG_CACHE_PAT` is also valid?

[2022-11-22 13:11] artemp commented on #4362
@mathisloge - just changed some settings to allow classic tokens, could you try one more time and if no luck I'll generate a new Fine-grained one?

[2022-11-22 13:22] mathisloge commented on #4362
@artemp  - unfortunatly still getting `Your request could not be authenticated by the GitHub Packages service. Please ensure your access token is valid and has the appropriate scopes configured`

[2022-11-22 14:53] mathisloge commented on #4362
works! :)

[2022-11-22 14:56] artemp commented on #4362
Phew 😄 👍

[2022-11-23 16:25] artemp commented on #4363
[code]

`svg2png octocat.svg -o`

![octocat](https://user-images.githubusercontent.com/59056/203597405-2892f5c3-9614-4cf3-aef0-b9f7e9f53a52.png)

`svg2png octocat.svg -o --opacity=0.5`

![octocat](https://user-images.githubusercontent.com/59056/203597511-baa95117-1562-4ae1-b642-5fe91d569482.png)

[2022-11-24 09:42] DoorMaXX commented on #4240
Have you fixed this problem?I  had the same problem durling the test.Is it the proj version  caused?

[2022-11-25 01:03] Tom-python0121 commented on #4240
@DoorMaXX  NO ，I do not fix.

[2022-11-25 06:43] mathisloge commented on #4181
@artemp maybe we should start writing doxygen comments into the source code and dedicated documentation files which gets included in the tooling.

https://doxygen.nl/ together with https://mcss.mosra.cz/documentation/doxygen/

The CI can then auto publish the whole documentation to a github page. I can start with a basic setup and some description e.g. of the cmake installation etc.

[2022-11-25 09:11] hholzgra commented on #4181
While Doxgen is great for API documentation I don't think I would use it for general documentation. That's why I tried to go for an AsciiDoc document for user level documentation instead. This could also be tightly coupled with the images generated by the test suite to visualize the effects of different Mapnik XML tags and their various attributes.

The original Github Wiki did already do a somewh

[2022-11-26 14:47] artemp commented on #4363
@mathisloge https://github.com/mapnik/mapnik/actions/runs/3553784365/jobs/5969500737
There are some unresolved symbols on Windows, could you take a look?

[2022-11-26 14:58] mathisloge commented on #4363
@artemp I needed to export the predefined structs of the cpp.

[code]

[2022-11-26 14:59] artemp commented on #4363
@mathisloge Great, thanks!

[2022-11-28 16:00] hholzgra opened #4369 "minimum-version attribute only works with 3 part version numbers"
The `minimum-version` attribute of the `<Map>` tag only works with three digit version numbers.

When e.g. giving it as just `<Map minimum-version='3.1'>` the minimum version is just silently ignore ignored without warning and the XML file will be processed even if the actual Mapnik version is just 3.0.24, and so less than 3.1.

This should either throw a warning about the wrong version number for

[2022-11-29 19:41] kylerummens commented on #4283
Any update on this?